[package]
name = "exonum-explorer-service"
version = "1.0.0"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-explorer-service"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "explorer", "service"]
categories = ["cryptography"]
description = "Exonum blockchain explorer, packaged as a service"

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0", path = "../../exonum" }
exonum-api = { version = "1.0.0", path = "../../components/api" }
exonum-derive = { version = "1.0.0", path = "../../components/derive" }
exonum-explorer = { version = "1.0.0", path = "../../components/explorer" }
exonum-rust-runtime = { version = "1.0.0", path = "../../runtimes/rust" }

actix = { version = "0.10.0", default-features = false }
actix-web = { version = "3.3.0", default-features = false }
actix-web-actors = "3.0.0"
anyhow = "1.0"
futures = "0.3.4"
hex = "0.4.0"
log = "0.4.6"
rand = "0.7"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

[dev-dependencies]
exonum-merkledb = { version = "1.0.0", path = "../../components/merkledb" }
exonum-supervisor = { version = "1.0.0", path = "../supervisor" }
exonum-testkit = { version = "1.0.0", path = "../../test-suite/testkit" }

assert_matches = "1.3.0"
reqwest = { version = "0.10.2", features = ["json"] }
websocket = { version = "0.26.2", default-features = false, features = ["sync"] }

[dev-dependencies.tokio]
version = "0.3.5"
features = ["blocking", "dns", "io-util", "macros", "rt-threaded", "tcp", "time"]
