[package]
name = "exonum-explorer-service"
version = "1.0.0-rc.1"
edition = "2018"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-explorer-service"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "explorer", "service"]
categories = ["cryptography"]
description = "Exonum blockchain explorer, packaged as a service"

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0-rc.1", path = "../../exonum" }
exonum-api = { version = "1.0.0-rc.1", path = "../../components/api" }
exonum-derive = { version = "1.0.0-rc.1", path = "../../components/derive" }
exonum-explorer = { version = "1.0.0-rc.1", path = "../../components/explorer" }
exonum-rust-runtime = { version = "1.0.0-rc.1", path = "../../runtimes/rust" }

actix = "0.7.9"
actix-web = { version = "0.7.18", default-features = false }
failure = "0.1.5"
futures = "0.1.25"
hex = "=0.4.0" # 0.4.1 is not compatible with Rust 1.36
log = "0.4.6"
rand = "0.7"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.42"

[dev-dependencies]
exonum-merkledb = { version = "1.0.0-rc.1", path = "../../components/merkledb" }
exonum-supervisor = { version = "1.0.0-rc.1", path = "../supervisor" }
exonum-testkit = { version = "1.0.0-rc.1", path = "../../test-suite/testkit" }

assert_matches = "1.3.0"
reqwest = "0.9"
websocket = "0.24"
