[package]
name = "exonum-derive"
version = "0.11.0"
edition = "2018"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-derive"
license = "Apache-2.0"
keywords = ["protobuf", "exonum"]
categories = ["development-tools"]
description = "Helper macros for serialization structs in protobuf."

[lib]
proc-macro = true

[dependencies]
syn = "0.15"
quote = "0.6"
proc-macro2 = "0.4"

[dev-dependencies]
exonum = { version = "0.11.0", path = "../../exonum" }
# TODO: Remove when merkledb becomes public [ECR-3134]
exonum-merkledb = { version = "0.10.0", path = "../merkledb" }
failure = "0.1.5"
protobuf = "2.4.0"
serde = "1.0"
serde_derive = "1.0"
