# Default owners for everything in the repository:
* @aleksuss @slowli @alekseysidorov @popzxc @Kormick

# Integration python tests:
test-suite/exonum-py-tests/* @aleksuss @alekseysidorov @popzxc @Kormick @ivan-ochc

# Javascript specific changes:
*.js @aleksuss @qvantor
