language: rust
rust:
  - stable
cache: cargo
sudo: required
dist: trusty
env:
  global:
    - NIGHTLY_RUST=nightly-2017-05-10
    - CLIPPY_VERS=0.0.131
    - RUSTFMT_VERS=0.8.4
before_install:
- rustfmt -V | grep $RUSTFMT_VERS || cargo install rustfmt --vers $RUSTFMT_VERS --force
- rustup toolchain install $NIGHTLY_RUST
- cargo +$NIGHTLY_RUST clippy -V | grep $CLIPPY_VERS || cargo +$NIGHTLY_RUST install clippy --vers $CLIPPY_VERS --force
- sudo add-apt-repository -y ppa:chris-lea/libsodium
- sudo apt-get -qq update
- cargo install --list
- cargo install cargo-audit --force
install:
- sudo apt-get -qq --yes install gcc g++ make libsodium-dev libleveldb-dev libssl-dev
script:
- cargo fmt -p sandbox -- --write-mode=diff
- cd exonum
- cargo +$NIGHTLY_RUST clippy -- -D warnings
- cd ..
- cd sandbox
- cargo +$NIGHTLY_RUST clippy -- -D warnings
- cd ..
- cargo audit
- cargo test --manifest-path exonum/Cargo.toml
- cargo test --manifest-path sandbox/Cargo.toml
notifications:
  slack:
    rooms:
      secure: EyQW22NjyDYiuWelsszt3cYgcZXHbEWiJMzYb7X5ovkAeX1Bm/FMGwaX8d9OGoebfY/NpAho8s1cX05vTxWT4N6sKsLACTcQI5te0fgiy8KVaL8ep1XpDi3JQQEDf/cVZkUlfDHE//gfDmY4boOQlejWXjmeLiYpV6rFW2yk+PDFDTS7J/GCTFxcdpqy+smdccUoJaJNpKH65fXaLSSPdZoWK2cnHb9RYEPIuwa9mCSlV+nfL0TSUUrDvcQu/dOkU92KFVHFSgzXIUm3u/UlN8MZPnrZ4DJ5uXqMzmCj2fSaP6625CvzNQBs/p93pIHC/XAL2MAUnZsiQtBQ7/cLEdQpYK8vXWilVuyZ6GFJ6KTQ7OXLD5Ka+KtkdcvGFMOgu0KfMVpaCvzT8yCOxv9G0Ld9XxZBQM5Ly+gpQPqEiov44zimHUfoaH6OlJI9dNiTnZCAeS7W9rpmuruG3ld23bru4YCgNXK3IfQ98tZESO4YCke36adnKuu1qiLWUOcS7svRojFYBiNJjCh54YZiM95aNMyJ1XYTo/SLWWIZ4RflfSWcc0XR2Qv9iNJjT5uACIeUtmjii492PLSz3NtLq/xoP6VCAbSb7yVbyC4BZuGE2scaduSce+1st8g5rDWFrVmNXBCVdz/au20+OOQR2JAiw1UPSNhwl/JS9GR/4Ck=
