[package]
name = "cryptocurrency"
version = "0.1.0"
authors = ["The Exonum Team <exonum@bitfury.com>"]
repository = "https://github.com/exonum/cryptocurrency"
readme = "README.md"
license = "Apache-2.0"

[dependencies]
exonum = "0.1"
iron = "0.5.1"
bodyparser = "0.7.0"
router = "0.5.1"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
