[workspace]
members = [
    "exonum",
    "examples/cryptocurrency",
    "examples/cryptocurrency-advanced/backend",
    "examples/timestamping/backend",
    "services/configuration",
    "services/time",
    "testkit",
    "testkit/server",
    "components/build",
    "components/crypto",
    "components/derive",
    "components/merkledb",
]
exclude = [ "exonum/fuzz" ]
