[workspace]
members = [
    "cli",
    "exonum",
    "examples/cryptocurrency",
    "examples/cryptocurrency-advanced/backend",
    "examples/sample_runtime",
    "examples/timestamping/backend",
    "services/time",
    "services/supervisor",
    "testkit",
    "testkit/server",
    "components/build",
    "components/crypto",
    "components/derive",
    "components/merkledb",
    "components/proto",
]
exclude = [ "exonum/fuzz" ]
