[package]
name = "exonum-cryptocurrency"
version = "0.4.0"
authors = ["The Exonum Team <exonum@bitfury.com>"]
repository = "https://github.com/exonum/cryptocurrency"
readme = "README.md"
license = "Apache-2.0"

[dependencies]
exonum = "0.4.0"
iron = "0.6.0"
bodyparser = "0.8.0"
router = "0.6.0"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"

[dev-dependencies]
exonum-testkit = "0.1.1"
