[package]
name = "exonum-merkledb"
version = "0.10.0"
edition = "2018"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-merkledb"
readme = "README.md"
license = "Apache-2.0"

# keywords = ["exonum", "cryptography", "library"]
# categories = ["cryptography", "hashing"]
# description = "Cryptography related types, constants, traits and functions."

[dependencies]
byteorder = "1.3"
chrono = "0.4.6"
exonum-crypto = "0.10"
failure = "0.1"
hex = "0.3.2"
leb128 = "0.2"
rocksdb = "0.11.0"
rust_decimal = "0.10.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
smallvec = "0.6"
tempfile = "3.0"
uuid = "0.7"

[dev-dependencies]
criterion = "0.2"
rand = "0.6.5"
rand_xorshift = "0.1"
proptest = "0.8"
modifier = "0.1"
pretty_assertions = "0.5.1"
bincode = "1.0"

[[bench]]
name = "criterion"
path = "benches/lib.rs"
harness = false

[features]
long_benchmarks = []
