[package]
name = "exonum-cryptocurrency"
publish = false
version = "0.0.0"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://exonum.com/doc/version/latest/get-started/create-service"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "blockchain", "example"]
categories = ["rust-patterns"]
description = "Minimal Exonum blockchain example implementing a simple cryptocurrency."

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "0.13.0-rc.2", path = "../../exonum" }
exonum-derive = { version = "0.13.0-rc.2", path = "../../components/derive" }
exonum-merkledb = { version = "0.13.0-rc.2", path = "../../components/merkledb" }
exonum-proto = { version = "0.13.0-rc.2", path = "../../components/proto" }

failure = "0.1.5"
protobuf = "2.8.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

[dev-dependencies]
exonum-explorer-service = { version = "0.13.0-rc.2", path = "../../services/explorer" }
exonum-testkit = { version = "0.13.0-rc.2", path = "../../test-suite/testkit" }

assert_matches = "1.2.0"
pretty_assertions = "0.6.1"
rand = "0.7"

[build-dependencies]
exonum-build = { version = "0.13.0-rc.2", path = "../../components/build" }
