[package]
name = "exonum-cryptocurrency"
publish = false
version = "0.0.0"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://exonum.com/doc/get-started/create-service"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "blockchain", "example"]
categories = ["rust-patterns"]
description = "Minimal Exonum blockchain example implementing a simple cryptocurrency."

[badges]
travis-ci = { repository = "exonum/exonum" }
circle-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "0.9.0", path = "../../exonum" }
failure = "=0.1.1"
serde = "1.0.0"
serde_derive = "1.0.0"
serde_json = "1.0.0"

[dev-dependencies]
exonum-testkit = { version = "0.9.0", path = "../../testkit" }
rand = "=0.4.2"
pretty_assertions = "=0.5.1"
assert_matches = "1.2.0"
