[package]
name = "exonum"
version = "0.1.0"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum"
readme = "../README.md"
license = "Apache-2.0"
keywords = ["database", "distributed", "blockchain", "framework", "exonum"]
categories = ["cryptography", "database-implementations"]
description = "An extensible framework for blockchain software projects."

[badges]
travis-ci = { repository = "https://github.com/exonum/exonum" }

[dependencies]
log = "0.3.0"
mio = "0.5.0"
byteorder = "0.5.0"
hex = "0.2.0"
bit-vec = "0.4.0"
vec_map = "0.6.0"
rand = "0.3.0"
exonum_leveldb = { version = "0.9", path = "../3rdparty/leveldb" }
serde = "1.0.0"
serde_derive = "1.0.0"
serde_json = "1.0.0"
toml = "0.4.0"
clap = "2.14"
term = "0.4"
colored = "1.3"
env_logger = "0.3.0"
hyper = "0.10.4"
cookie = "0.6.0"
router = "0.5.1"
iron = "0.5.1"
headers = "0.1.0"
bodyparser = "0.5.0"
params = "0.6.0"
mount = "0.3.0"
exonum_profiler = { version = "^0.1.0", path="../3rdparty/profiler/" }
exonum_flamer = { version = "^0.1.3", path="../3rdparty/flamer/", optional = true }

[dependencies.sodiumoxide]
git = "https://github.com/exonum/exonum-sodiumoxide"

[dev-dependencies]
pretty_assertions = "0.2.0"
tempdir = "0.3.0"
lazy_static = "0.2.8"

[features]
default = []
long_benchmarks = []
memorydb = []
nightly = []
flame_profile = ["exonum_profiler/nomock", "exonum_flamer"]
