[package]
name = "exonum"
version = "0.11.0"
edition = "2018"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum"
readme = "README.md"
license = "Apache-2.0"
keywords = ["database", "distributed", "blockchain", "framework", "exonum"]
categories = ["cryptography", "database-implementations"]
description = "An extensible framework for blockchain software projects."
autobenches = true
links = "exonum_protobuf"

[badges]
travis-ci = { repository = "exonum/exonum" }
circle-ci = { repository = "exonum/exonum" }

[dependencies]
actix = "0.7.9"
actix-net = "0.2.6"
actix-web = { version = "0.7.18", default-features = false }
log = "0.4.6"
byteorder = { version = "1.2.7", features = [ "i128" ] }
hex = "0.3.2"
bit-vec = "0.5.0"
rand = "0.6.4"
rand_xorshift = "0.1.1"
serde = "1.0.10"
serde_derive = "1.0.64"
serde_json = "1.0.19"
erased-serde = "0.3"
toml = "0.5.0"
clap = "2.31.2"
env_logger = "0.6.0"
atty = "0.2.11"
bytes = "0.4.11"
futures = "0.1.25"
tokio = "0.1.14"
tokio-codec = "0.1.1"
tokio-core = "0.1.17"
tokio-current-thread = "0.1.4"
tokio-io = "0.1.11"
tokio-retry = "0.2.0"
tokio-threadpool = "0.1.10"
tokio-dns-unofficial = "0.4.0"
failure = "0.1.5"
os_info = "1.0.1"
chrono = { version = "0.4.6", features = ["serde"] }
uuid = { version = "0.7.1", features = ["serde"] }
snow = { version = "0.5.2", default-features = false }
rust_decimal = "0.11.2"
protobuf = { version = "2.4.0", features = ["with-serde"] }
ctrlc = "3.1.1"
rpassword = "3.0.0"
zeroize = "0.5.2"

rocksdb = "0.12.0"
exonum_sodiumoxide = { version = "0.0.21", optional = true }
exonum-crypto = { version = "0.11.0", path = "../components/crypto" }
exonum-derive = { version = "0.11.0", path = "../components/derive" }

[dev-dependencies]
pretty_assertions = "0.6.1"
tempdir = "0.3.7"
lazy_static = "1.0.1"
proptest = "0.9.1"
modifier = "0.1.0"
criterion = "0.2.8"
num = "0.2.0"

[[bench]]
name = "criterion"
harness = false
path = "benches/criterion/lib.rs"

[features]
default = ["sodiumoxide-crypto", "with-serde"]
float_serialize = []
long_benchmarks = []
metrics-log = []
sodiumoxide-crypto = ["exonum_sodiumoxide"]
with-serde = []

[build-dependencies]
exonum-build = { version = "0.11.0", path = "../components/build" }

[package.metadata.docs.rs]
dependencies = [ "protobuf-compiler" ]
