[package]
name = "exonum"
version = "0.1.0"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum"
readme = "../README.md"
license = "Apache-2.0"
keywords = ["database", "distributed", "blockchain", "framework", "exonum"]
categories = ["cryptography", "database-implementations"]
description = "An extensible framework for blockchain software projects."

[badges]
travis-ci = { repository = "https://github.com/exonum/exonum" }

[dependencies]
log = "0.3.8"
mio = "0.5.0"
byteorder = "1.1.0"
hex = "0.2.0"
bit-vec = "0.4.4"
vec_map = "0.8.0"
rand = "0.3.15"
exonum_leveldb = {version="0.9", path="../3rdparty/leveldb", optional = true}
serde = "1.0.10"
serde_derive = "1.0.10"
serde_json = "1.0.2"
toml = "0.4.2"
clap = "2.25.0"
term = "0.4.6"
colored = "1.5.2"
env_logger = "0.4.3"
hyper = "0.10.12"
cookie = "0.9.1"
router = "0.5.1"
iron = "0.5.1"
headers = "0.1.0"
bodyparser = "0.7.0"
params = "0.6.0"
mount = "0.3.0"
atty = "0.2.2"
exonum_profiler = { version = "^0.1.0", path="../3rdparty/profiler/" }
exonum_flamer = { version = "^0.1.3", path="../3rdparty/flamer/", optional = true }

[dependencies.exonum_rocksdb]
git = "https://github.com/exonum/exonum_rocksdb.git"
optional = true

[dependencies.exonum_sodiumoxide]
git = "https://github.com/exonum/exonum_sodiumoxide.git"

[dev-dependencies]
pretty_assertions = "0.2.1"
tempdir = "0.3.5"
lazy_static = "0.2.8"

[features]
default = ["leveldb", "rocksdb"]
leveldb = ["exonum_leveldb"]
rocksdb = ["exonum_rocksdb"]
long_benchmarks = []
nightly = []
flame_profile = ["exonum_profiler/nomock", "exonum_flamer"]
