[package]
name = "exonum"
version = "0.8.0"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum"
readme = "README.md"
license = "Apache-2.0"
keywords = ["database", "distributed", "blockchain", "framework", "exonum"]
categories = ["cryptography", "database-implementations"]
description = "An extensible framework for blockchain software projects."

[badges]
travis-ci = { repository = "exonum/exonum" }
circle-ci = { repository = "exonum/exonum" }

[dependencies]
actix = "=0.5.7"
actix-web = "=0.6.11"
log = "=0.4.1"
byteorder = "1.2.3"
hex = "=0.3.2"
bit-vec = "=0.5.0"
vec_map = "=0.8.1"
rand = "=0.4.2"
serde = "1.0.10"
serde_derive = "1.0.64"
serde_json = "1.0.19"
toml = "=0.4.6"
clap = "2.31.2"
term = "=0.5.1"
colored = "1.6.0"
env_logger = "=0.5.10"
hyper = "=0.10.13"
cookie = "=0.10.1"
router = "=0.6.0"
iron = "=0.6.0"
iron-cors = "=0.7.0"
headers = "=0.1.0"
params = "=0.8.0"
mount = "=0.4.0"
atty = "=0.2.10"
bytes = "=0.4.8"
futures = "=0.1.21"
tokio-core = "=0.1.17"
tokio-io = "=0.1.6"
tokio-retry = "=0.1.1"
tokio-timer = "=0.1.2"
failure = "=0.1.1"
os_info = "1.0.1"
chrono = { version = "=0.4.2", features = ["serde"] }
bodyparser = "=0.8.0"
uuid = { version = "=0.6.5", features = ["serde"] }
snow = "=0.1.12"
rust_decimal = "=0.9.0"

exonum_rocksdb = "0.7.2"
exonum_sodiumoxide = "0.0.18"
exonum_profiler = { path = "../3rdparty/profiler", version = "0.1.2" }
exonum_flamer = { path = "../3rdparty/flamer", version = "0.1.6", optional = true }

[dev-dependencies]
pretty_assertions = "=0.5.1"
tempdir = "=0.3.7"
lazy_static = "1.0.1"
proptest = "=0.7.0"
criterion = "=0.2.3"
num = "=0.1.42"

[[bench]]
name = "criterion"
harness = false
path = "benches/criterion/lib.rs"

[features]
default = []
float_serialize = []
long_benchmarks = []
flame_profile = ["exonum_profiler/nomock", "exonum_flamer"]
metrics-log = []
