[package]
name = "exonum"
version = "0.10.1"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum"
readme = "README.md"
license = "Apache-2.0"
keywords = ["database", "distributed", "blockchain", "framework", "exonum"]
categories = ["cryptography", "database-implementations"]
description = "An extensible framework for blockchain software projects."
autobenches = true
links = "exonum_protobuf"

[badges]
travis-ci = { repository = "exonum/exonum" }
circle-ci = { repository = "exonum/exonum" }

[dependencies]
actix = "=0.7.9"
actix-net = "=0.2.6"
actix-web = "=0.7.17"
log = "=0.4.6"
byteorder = "1.2.3"
hex = "=0.3.2"
bit-vec = "=0.5.0"
rand = "=0.6.3"
rand_xorshift = "=0.1.1"
serde = "1.0.10"
serde_derive = "1.0.64"
serde_json = "1.0.19"
erased-serde = "0.3"
toml = "=0.4.10"
clap = "2.31.2"
env_logger = "=0.6.0"
atty = "=0.2.11"
bytes = "=0.4.11"
futures = "=0.1.25"
tokio = "=0.1.13"
tokio-codec = "=0.1.1"
tokio-core = "=0.1.17"
tokio-current-thread = "=0.1.4"
tokio-executor = "=0.1.5"
tokio-io = "=0.1.10"
tokio-retry = "=0.2.0"
tokio-threadpool = "=0.1.9"
tokio-dns-unofficial = "=0.4.0"
failure = "0.1.5"
os_info = "1.0.1"
chrono = { version = "=0.4.6", features = ["serde"] }
uuid = { version = "=0.7.1", features = ["serde"] }
snow = "=0.4.0"
rust_decimal = "=0.10.2"
protobuf = { version = "2.2.0", features = ["with-serde"] }
ctrlc = "3.1.1"

exonum_rocksdb = "0.7.4"
exonum_sodiumoxide = { version = "0.0.20", optional = true }
exonum-crypto = { version = "0.10.2", path = "../components/crypto" }
exonum-derive = { version = "0.10.0", path = "../components/derive" }

[dev-dependencies]
pretty_assertions = "=0.5.1"
tempdir = "=0.3.7"
lazy_static = "1.0.1"
proptest = "=0.8.7"
modifier = "0.1.0"
criterion = "=0.2.7"
num = "=0.2.0"

[[bench]]
name = "criterion"
harness = false
path = "benches/criterion/lib.rs"

[features]
default = ["sodiumoxide-crypto", "with-serde"]
float_serialize = []
long_benchmarks = []
metrics-log = []
sodiumoxide-crypto = ["exonum_sodiumoxide"]
with-serde = []

[build-dependencies]
exonum-build = { version = "0.10.0", path = "../components/build" }

[package.metadata.docs.rs]
dependencies = [ "protobuf-compiler" ]
