body {
    padding: 20px 0 0;
}

.no-border {
    border: none;
}

.page-title {
    padding: 0 64px;
}

.page-nav {
    margin: 2px 0 0;
}

.custom-table {
    margin: 0 0 15px;
    padding: 0 15px;
}

.custom-table-hover > .row:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.custom-table-hover > .row:first-child:hover {
    background-color: transparent;
    cursor: default;
}

.custom-table-header-column {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    overflow: hidden;
    padding: 0 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-table-column {
    border-top: 1px solid #ddd;
    padding: 10px 5px;
}

@media (min-width: 768px) {
    .custom-table-header-column {
        padding: 0 10px 5px;
    }

    .custom-table-column {
        padding: 10px;
    }
}

.custom-dd {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    line-height: 1;
    margin: 0 0 15px;
    padding: 0 15px;
}

.custom-dd-column {
    border-top: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
}

.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.input-group > .input-group-btn > .btn {
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}

.monospace,
.monospace.form-control {
    font-family: "Lucida Console", Monaco, Courier, monospace;
    font-size: 0.75em;
    letter-spacing: 0.025em;
    line-height: 1.15;
}

.space-top {
    margin-top: 30px;
}

.loader {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.loader:before {
    background-color: rgba(255, 255, 255, .9);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.loader:after {
    background-image: url(../images/ring.gif);
    background-size: 100%;
    content: '';
    display: block;
    height: 60px;
    left: 50%;
    margin: -30px 0 0 -30px;
    position: absolute;
    top: 50%;
    width: 60px;
}