body {
    padding: 20px 0 0;
}

.no-border {
    border: none;
}

.custom-table {
    margin: 0 0 15px;
    padding: 0 15px;
}

.custom-table-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.custom-table-column {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.custom-dd {
    margin: 0 0 15px;
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    line-height: 1;
}

.custom-dd-column {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.monospace {
    font-family: "Lucida Console", Monaco, Courier, monospace;
    font-size: 0.875em;
    line-height: 1.15;
    letter-spacing: 0.025em;
}

.expanded {
    word-wrap: break-word;
}

.collapsed {
    color: #337ab7;
    cursor: pointer;
}

.collapsed:hover,
.collapsed:focus {
    color: #23527c;
}

.space-top {
    margin-top: 30px;
}