[package]
name = "exonum-system-api"
version = "0.13.0-rc.2"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-system-api"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "http"]
categories = ["cryptography"]
description = "System API plugin of the Exonum framework"

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
actix-web = { version = "0.7.18", default-features = false }
exonum = { version = "0.13.0-rc.2", path = "../../exonum" }
futures = "0.1.25"
serde = "1.0"
serde_derive = "1.0"

[dev-dependencies]
exonum-testkit = { version = "0.13.0-rc.2", path = "../../test-suite/testkit" }
pretty_assertions = "0.6.1"
