[package]
name = "exonum-system-api"
version = "1.0.0-rc.3"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-system-api"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "http", "plugin"]
categories = ["cryptography"]
description = "System API plugin for the Exonum framework"

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0-rc.3", path = "../../exonum" }
exonum-api = { version = "1.0.0-rc.3", path = "../api" }
exonum-node = { version = "1.0.0-rc.3", path = "../../exonum-node" }

actix-web = { version = "2.0.0", default-features = false }
futures = "0.3.4"
semver = "0.9.0"
serde = "1.0"
serde_derive = "1.0"

[dev-dependencies]
exonum-testkit = { version = "1.0.0-rc.3", path = "../../test-suite/testkit", features = ["exonum-node"] }

anyhow = "1.0.26"
pretty_assertions = "0.6.1"

[dev-dependencies.tokio]
version = "0.2.13"
features = ["blocking", "dns", "io-util", "macros", "rt-threaded", "tcp", "time"]
