[package]
name = "exonum-rust-runtime"
version = "0.13.0-rc.2"
edition = "2018"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-rust-runtime"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "runtime"]
categories = ["cryptography"]
description = "The runtime is for running native services written in Rust."

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "0.13.0-rc.2", path = "../../exonum" }
exonum-crypto = { version = "0.13.0-rc.2", path = "../../components/crypto" }
exonum-derive = { version = "0.13.0-rc.2", path = "../../components/derive" }
exonum-merkledb = { version = "0.13.0-rc.2", path = "../../components/merkledb" }
exonum-proto = { version = "0.13.0-rc.2", path = "../../components/proto" }

failure = "0.1.5"
futures = "0.1.25"
log = "0.4.8"
protobuf = "2.8.0"
semver = "0.9.0"
serde = "1.0.101"
serde_derive = "1.0.101"

[dev-dependencies]
exonum-testkit = { version = "0.13.0-rc.2", path = "../../test-suite/testkit" }

criterion = "0.3.0"
serde_json = "1.0.44"
tempfile = "3"
rand = "0.7"

[build-dependencies]
exonum-build = { version = "0.13.0-rc.2", path = "../../components/build" }

[[bench]]
name = "criterion"
harness = false
path = "benches/criterion/lib.rs"
