[package]
name = "exonum-rust-runtime"
version = "1.0.0-rc.3"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-rust-runtime"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "runtime"]
categories = ["cryptography"]
description = "The runtime is for running Exonum services written in Rust."

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0-rc.3", path = "../../exonum" }
exonum-api = { version = "1.0.0-rc.3", path = "../../components/api" }
exonum-derive = { version = "1.0.0-rc.3", path = "../../components/derive" }
exonum-merkledb = { version = "1.0.0-rc.3", path = "../../components/merkledb" }
exonum-proto = { version = "1.0.0-rc.3", path = "../../components/proto" }

actix-web = "2.0.0"
futures = "0.3.4"
log = "0.4.8"
protobuf = "2.10.1"
serde = "1.0.101"
serde_derive = "1.0.101"
tokio = "0.2.11"

[dev-dependencies]
anyhow = "1.0.26"
assert_matches = "1.3.0"
bincode = "1.2.1"
criterion = "0.3.0"
pretty_assertions = "0.6.1"
rand = "0.7"
serde_json = "1.0.44"
tempfile = "3"

[build-dependencies]
exonum-build = { version = "1.0.0-rc.3", path = "../../components/build" }

[[bench]]
name = "criterion"
harness = false
path = "benches/criterion/lib.rs"
