body {
    background-color: #282828;
}

/* Logo */
.pix_nav_logo,
.pix_footer_logo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    float: left;
}

.pix_nav_logo span,
.pix_footer_logo span {
    display: block;
    text-align: center;
}

.pix_nav_logo,
a.pix_nav_logo {
    display: block;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    padding-top: 16px;
    text-decoration: none;
}

.pix_nav_logo span {
    color: #2dc0e8;
    font-size: 14px;
}

.pix_footer_logo {
    font-size: 18px;
    line-height: 1.125;
    display: inline-block;
}

.pix_footer_logo span {
    color: #999;
    font-size: 11px;
    letter-spacing: 0.015em;
}

/* Header */
.header_nav_1.dark {
    background-color: #444;
}

.blue_moving_bg {
    height: 640px;
}

.blue_moving_bg,
.dark.blue_moving_bg {
    background-position: center bottom;
    background-attachment: scroll;
    background-repeat: repeat-x;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100% !important;
}

@media (min-width: 768px) {
    .blue_moving_bg,
    .dark.blue_moving_bg {
        -webkit-background-size: 75%;
        -moz-background-size: 75%;
        -o-background-size: 75%;
        background-size: 75% !important;
    }
}

@media (min-width: 1200px) {
    .blue_moving_bg,
    .dark.blue_moving_bg {
        -webkit-background-size: 50%;
        -moz-background-size: 50%;
        -o-background-size: 50%;
        background-size: 50% !important;
    }
}

/* Navbar */
.navbar-toggle {
    margin: 0;
    padding: 0 16px;
}

.navbar-toggle:before {
    display: none;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-collapse {
    clear: both;
}

.navbar-lg .navbar-nav > li > a {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
    .navbar-collapse {
        clear: none;
    }

    .navbar-lg .navbar-nav > li > a {
        padding-left: 21px;
        padding-right: 21px;
    }
}

/* Content */
.medium_icon {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.columns.centered {
    display: block;
    float: none;
    margin: 0 auto;
}

.pix_text_dark {
    margin-bottom: 20px;
}

input.pix_text_readonly {
    background-color: #2f2f2f;
    border-color: #444;
    border-style: dashed;
}

input.pix_text_readonly:focus,
input.pix_text_readonly:active {
    background-color: #2f2f2f;
    border-color: #2dc0e8;
    border-style: dashed;
    color: #2dc0e8;
}

.send_btn {
    margin-top: 30px;
}

.btn_margin {
    margin: 0 10px 10px;
}

.nowrap {
    white-space: nowrap;
}

.big_title {
    font-size: 36px;
    line-height: 40px;
}

.big_text {
    font-size: 18px;
    line-height: 24px;
}

.normal_title {
    color: #fff;
    font-size: 21px;
    line-height: 27px;
    margin: 20px 0 20px;
}

.normal_text a {
    color: #2dc0e8;
}

@media (min-width: 768px) {
    .big_title {
        font-size: 48px;
        line-height: 52px;
    }

    .big_text {
        font-size: 22px;
        line-height: 30px;
    }
}

@media (max-width: 767px) {
    .f1_box {
        font-size: 12px;
    }

    .f1_box .medium_icon {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .f1_box .small_title {
        font-size: 16px;
        margin-bottom: 0;
    }
}

/* Responsive image */
.img-responsive {
    position: relative;
    overflow: hidden;
    height: 96px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.img-responsive img {
    max-width: 100%;
    opacity: 0.5;
}

.img-responsive:hover img,
.img-responsive:active img {
    opacity: 1;
}

.img-responsive-zoom {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 32px;
    margin: -16px 0 0 0;
}

/* Code */
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #eee;
    background-color: #000;
    border-radius: 4px;
    white-space: nowrap;
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Footer */
.footer3 .small_text {
    color: #666;
}

@media (max-width: 767px) {
    .pixfort_text_4 .footer_left {
        padding-bottom: 0;
    }

    .pixfort_text_4 .footer_right {
        padding-top: 0;
    }

    .footer3 .small_text {
        clear: both;
    }
}

/* Paypal button */
.paypal-button:hover {
    background: none;
    border: none;
}

button.paypal-button.paypal-style-checkout.paypal-size-medium .paypal-button-tag-content {
    color: #c7c7c7;
    text-shadow: 0 1px 0 #000;
}

/* Certificate */
.certificate {
    width: 720px;
    height: 496px;
    margin: 0 auto;
    padding: 37px 37px 0;
    background-image: url(../images/stock-vector-certificate-vector-pattern-that-is-used-in-currency-and-diplomas-370407353.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    box-sizing: border-box;
}

.certificate-inner {
    box-sizing: border-box;
    height: 419px;
    padding: 30px 65px 0;
    background-color: #444;
    background-image: url(../images/036-2.png);
    background-repeat: repeat;
    background-size: 50%;
}

.certificate_title {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.certificate_info {
    margin: 40px 0 10px;
}

.certificate_value {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #fff;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 0.8em;
}

.certificate_value_hash {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.certificate_value_icon {
    line-height: 0;
    font-size: 0.8em;
}

.certificate_value a {
    color: #fff;
    text-decoration: none;
}

.certificate_value a:hover,
.certificate_value a:focus {
    color: #2dc0e8;
}

.certificate_label {
    color: #999;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 0.65em;
    letter-spacing: 0.05em;
    margin: 0;
}