[package]
name = "exonum-cryptocurrency-advanced"
version = "0.2.0"
publish = false
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "blockchain", "example"]
categories = ["rust-patterns", "development-tools::testing"]
description = "Exonum blockchain example implementing a cryptocurrency."

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0", path = "../../../exonum" }
exonum-derive = { version = "1.0.0", path = "../../../components/derive" }
exonum-merkledb = { version = "1.0.0", path = "../../../components/merkledb" }
exonum-proto = { version = "1.0.0", path = "../../../components/proto" }
exonum-cli = { version = "1.0.0", path = "../../../cli" }
exonum-rust-runtime = { version = "1.0.0", path = "../../../runtimes/rust" }

anyhow = "1.0"
protobuf = "2.17.0"
serde = "1.0"
serde_derive = "1.0"

[dependencies.tokio]
version = "0.3.5"
features = ["blocking", "dns", "io-util", "macros", "rt-threaded", "tcp", "time"]

# Previous version of cryptocurrency.
[dependencies.old-cryptocurrency]
version = "0.1.0"
package = "exonum-cryptocurrency"
path = "../../cryptocurrency"

[dev-dependencies]
exonum-explorer-service = { version = "1.0.0", path = "../../../services/explorer" }
exonum-supervisor = { version = "1.0.0", path = "../../../services/supervisor" }
exonum-testkit = { version = "1.0.0", path = "../../../test-suite/testkit" }

assert_matches = "1.2"
bincode = "1.3"
hex = "0.4"
pretty_assertions = "0.6.1"
rand = "0.7"
serde_json = "1.0"

[build-dependencies]
exonum-build = { version = "1.0.1", path = "../../../components/build" }

[features]
default = ["with-serde"]
with-serde = []
