version: 2

jobs:
  build_and_test:
    macos:
      xcode: "9.0"
    steps:
      - checkout
      - run: curl https://sh.rustup.rs -sSf | sh -s -- -y
      - run: echo 'export PATH=~/.cargo/bin:$PATH' >> $BASH_ENV
      - run: rustup show
      - run: brew install libsodium rocksdb pkg-config
      - run: cargo build
      - run: cargo test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test
