[package]
name = "exonum-time"
version = "1.0.0"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-time"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "time"]
categories = ["cryptography", "date-and-time"]
description = "The time oracle service for Exonum."

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0", path = "../../exonum" }
exonum-api = { version = "1.0.0", path = "../../components/api" }
exonum-derive = { version = "1.0.0", path = "../../components/derive" }
exonum-merkledb = { version = "1.0.0", path = "../../components/merkledb" }
exonum-proto = { version = "1.0.0", path = "../../components/proto" }
exonum-rust-runtime = { version = "1.0.0", path = "../../runtimes/rust" }

anyhow = "1.0"
chrono = { version = "0.4.6", features = ["serde"] }
futures = "0.3.4"
protobuf = "2.17.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

[dev-dependencies]
exonum-cli = { version = "1.0.0", path = "../../cli" }
exonum-supervisor = { version = "1.0.0", path = "../supervisor" }
exonum-testkit = { version = "1.0.0", path = "../../test-suite/testkit" }

bincode = "1.3"
pretty_assertions = "0.6.1"

[dev-dependencies.tokio]
version = "0.3.5"
features = ["blocking", "dns", "io-util", "macros", "rt-threaded", "tcp", "time"]

[build-dependencies]
exonum-build = { version = "1.0.1", path = "../../components/build" }
