[package]
name = "exonum-time"
version = "0.9.0"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-time"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "time"]
categories = ["cryptography", "date-and-time"]
description = "The time oracle service for Exonum."

[badges]
travis-ci = { repository = "exonum/exonum" }
circle-ci = { repository = "exonum/exonum" }

[dependencies]
chrono = { version = "=0.4.6", features = ["serde"] }
exonum = { version = "0.9.0", path = "../../exonum" }
failure = "0.1.2"
serde = "1.0.10"
serde_derive = "1.0.10"
serde_json = "1.0.2"

[dev-dependencies]
exonum-testkit = { version = "0.9.0", path = "../../testkit" }
pretty_assertions = "=0.5.1"
