[package]
name = "exonum-time"
version = "1.0.0-rc.1"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-time"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "time"]
categories = ["cryptography", "date-and-time"]
description = "The time oracle service for Exonum."

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0-rc.1", path = "../../exonum" }
exonum-api = { version = "1.0.0-rc.1", path = "../../components/api" }
exonum-derive = { version = "1.0.0-rc.1", path = "../../components/derive" }
exonum-merkledb = { version = "1.0.0-rc.1", path = "../../components/merkledb" }
exonum-proto = { version = "1.0.0-rc.1", path = "../../components/proto" }
exonum-rust-runtime = { version = "1.0.0-rc.1", path = "../../runtimes/rust" }

chrono = { version = "0.4.6", features = ["serde"] }
failure = "0.1.5"
protobuf = "2.8.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

[dev-dependencies]
exonum-cli = { version = "1.0.0-rc.1", path = "../../cli" }
exonum-supervisor = { version = "1.0.0-rc.1", path = "../supervisor" }
exonum-testkit = { version = "1.0.0-rc.1", path = "../../test-suite/testkit" }

bincode = "1.2.1"
pretty_assertions = "0.6.1"

[build-dependencies]
exonum-build = { version = "1.0.0-rc.1", path = "../../components/build" }
