<div class="header_nav_1 dark pix_builder_bg">
    <div class="header_style">
        <div class="container">
            <div class="sixteen columns firas2">
                <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg pix_nav_1">
                    <div class="containerss">
                        <div class="navbar-header">
                            <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="sr-only">Toggle navigation</span>
                            </button>
                            <a class="pix_nav_logo" href="/">Exonum <span>Timestamping</span></a>
                        </div>
                        <div id="navbar-collapse-02" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active propClone"><a href="/#create-a-stamp">Create a stamp</a></li>
                                <li class="propClone"><a href="/verify">Verify a stamp</a></li>
                                <li class="propClone"><a href="/faq">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
