[package]
name = "exonum-cli"
version = "0.13.0-rc.2"
authors = ["The Exonum Team <contact@exonum.com>"]
edition = "2018"
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-cli"
license = "Apache-2.0"
keywords = ["exonum", "cli", "library"]
categories = ["command-line-interface", "configuration"]
description = "Helper crate for secure and convenient configuration of the Exonum nodes."

[dependencies]
exonum = { version = "0.13.0-rc.2", path = "../exonum" }
exonum-node = { version = "0.13.0-rc.2", path = "../exonum-node" }
exonum-explorer-service = { version = "0.13.0-rc.2", path = "../services/explorer" }
exonum-supervisor = { version = "0.13.0-rc.2", path = "../services/supervisor" }
exonum-system-api = { version = "0.13.0-rc.2", path = "../components/system-api" }
exonum-rust-runtime = { version = "0.13.0-rc.2", path = "../runtimes/rust" }
structopt = "0.3"
serde = "1.0"
log = "0.4"
serde_derive = "1.0"
failure = "0.1"
zeroize = "0.9"
rpassword = "4.0"
toml = "0.5"

[dev-dependencies]
exonum-derive = { version = "0.13.0-rc.2", path = "../components/derive" }

futures = "0.1.29"
lazy_static = "1.4.0"
pretty_assertions = "0.6"
reqwest = "0.9"
tempfile = "3.1"
