html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.first-map-button {
    margin-left: 10px;
}

.map-button {
    background-color: #fff;
    border: none;
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    float: left;
}

.map-button :hover {
    background-color: #eee;
}

.map-button div {
    color: #191919;
    font-size: 11px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

div.status .reclaimed {
    color: orange;
}

div.status .deleted {
    color: red;
}

div.status .active {
    color: green;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}
