<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-5 control-label"><strong>Title:</strong></label>
    <div class="col-sm-7 form-control-static">
      {{ content.get('title') }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label"><strong>Owner:</strong></label>
    <div class="col-sm-7 form-control-static">
      {{ content.get("owners")[0].name }}
    </div>
  </div>
  <div class="form-group" id="add-report-time-group">
    <label for="add-report-time" class="col-sm-5 control-label"><strong>Date:</strong></label>
    <div class="col-sm-7">
      <input type="date" class="form-control" id="add-report-time" value="{{ today }}">
    </div>
  </div>
  <div class="form-group" id="add-report-plays-group">
    <label for="add-report-plays" class="col-sm-5 control-label"><strong>Number of plays:</strong></label>
    <div class="col-sm-7">
      <input type="number" scale="1" min="1" class="form-control" id="add-report-plays" placeholder="100000">
    </div>
  </div>
  <div class="form-group" id="add-report-comment-group">
    <label for="add-report-comment" class="col-sm-5 control-label"><strong>Comment:</strong></label>
    <div class="col-sm-7">
      <textarea class="form-control" placeholder="BBC Radio broadcast" id="add-report-comment">None</textarea>
    </div>
  </div>
</div>

<div class="buttons-wrapper">
    <a class="button button-green" id="add-report">Send report</a>
</div>
