<div class="app-list-headers clearfix">
  <div class="pull-left"><a id="blockchain-page-prev" role="button">← Older</a></div>
  <div class="pull-right"><a id="blockchain-page-next" role="button">Newer →</a></div>
</div>

<table class="table table-hover table-condensed blockchain">
  <thead>
    <tr>
      <th>Height</th>
      <th>Time</th>
      <th>Hash</th>
      <th class="text-center">Txs</th>
      <th class="col-fixed-more"></th>
    </tr>
  </thead>
  <tbody>
    {% blocks.each(function(block) { %}
      <tr data-block="{{ block.get('height') }}">
        <td>{{ block.get('height').toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") }}</td>
        <td title="{{ moment.unix(block.get('propose_time')).format() }}">{{ moment.unix(block.get('propose_time')).fromNow() }}</td>
        <td><samp>{{ block.get('hash').substr(0, 8) }}</samp></td>
        <td class="text-center">{{ block.get('tx_count') }}</td>
        <td class="text-center text-muted"><i class="glyphicon glyphicon-chevron-right"></i></td>
      </tr>
    {% }) %}
  </tbody>
</table>
