<ul class="pager">
  {% if (lastHeight > 14) { %}
  <li class="previous" id="blockchain-page-prev"><a role="button"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Older</a></li>
  {% } else { %}
  <li class="previous disabled"><a role="button"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Older</a></li>
  {% } %}

  {% if (lastHeight < newestHeight) { %}
  <li class="next" id="blockchain-page-next"><a role="button">Newer&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></a></li>
  {% } else { %}
  <li class="next"><a id="blockchain-refresh" role="button"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Refresh</a></li>
  {% } %}
</ul>

<table class="table table-hover table-condensed blockchain">
  <thead>
    <tr>
      <th>Height</th>
      <th>Time</th>
      <th>Hash</th>
      <th class="text-center">Txs</th>
      <th class="col-fixed-more"></th>
    </tr>
  </thead>
  <tbody>
    {% blocks.each(function(block) { %}
      <tr data-block="{{ block.get('height') }}">
        <td>{{ block.get('height').toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") }}</td>
        <td title="{{ moment.unix(block.get('propose_time')).format() }}">{{ moment.unix(block.get('propose_time')).fromNow() }}</td>
        <td><samp>{{ block.get('hash').substr(0, 8) }}</samp></td>
        <td class="text-center">{{ block.get('tx_count') }}</td>
        <td class="text-center text-muted"><i class="glyphicon glyphicon-chevron-right"></i></td>
      </tr>
    {% }) %}
  </tbody>
</table>
