<dl class="dl-horizontal">
  <dt>Fingerprint:</dt>
  <dd>{{ content.get('fingerprint').substr(0, 8) }}-{{ content.get('fingerprint').substr(8, 4) }}-{{ content.get('fingerprint').substr(12, 4) }}-{{ content.get('fingerprint').substr(16, 4) }}-{{ content.get('fingerprint').substr(20, 12) }}</dd>
  <dt>Title:</dt>
  <dd>{{ content.get('title') }}</dd>
  <dt>Price per play:</dt>
  <dd>{{ content.get('price_per_listen') }}¢</dd>
  <dt>Min. Plays:</dt>
  <dd>{{ content.get('min_plays').toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") }}</dd>
  {% if (content.get('additional_conditions')) { %}
    <dt>Aditional conditions:</dt>
    <dd>{{ content.get('additional_conditions') }} </dd>
  {% } %}
</dl>

{% if (user.get("role") == "distributor") { %}
  {% if (content.get("contract")) { %}
    <!-- Distributed content -->
    <div class="app-list-headers clearfix">
      <div class="pull-left">Current distribution status:</div>
    </div>
    <h4 class="text-{{ content.get("contract").plays >= content.get("min_plays") ? "success" : "warning" }}">
      {{ content.get("contract").plays.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") }}
      /
      {{ content.get("min_plays").toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") }}
    </h4>
    <div class="progress">
      <div class="progress-bar progress-bar-{{ content.get("contract").plays >= content.get("min_plays") ? "success" : "warning" }}" style="width: {{ content.get("contract").plays / content.get("min_plays") * 100 }}%;"></div>
    </div>
    <div class="buttons-wrapper">
      <a class="button button-{{ content.get("contract").plays >= content.get("min_plays") ? "green" : "orange" }}" id="content-update-status">
        <i class="glyphicon glyphicon-refresh"></i>&nbsp;
        Update distribution status
      </a>
    </div>
  {% } else { %}
  <!-- Available content -->
  <div class="buttons-wrapper">
      <a class="button button-green" id="content-buy-inside">
        <i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;
        Purchase
      </a>
  </div>
  {% } %}
{% } %}

<div class="app-list-headers clearfix">
  <div class="pull-left">Owner information:</div>
</div>
<table class="table">
  {% _.each(content.get("owners"), function(owner) { %}
    <tr>
      <td class="col-fixed-id">#{{ owner.id }}</td>
      <td>{{ owner.name }}</td>
      <td class="text-right">{{ owner.share }}%</td>
    </tr>
  {% }) %}
</table>

{% if (user.get("role") == "owner") { %}
  <!-- Owned content -->
  <div class="app-list-headers clearfix">
    <div class="pull-left">Distributors:</div>
  </div>
  {% if (content.get("distributors").length > 0 ) { %}
    <table class="table">
      {% _.each(content.get("distributors"), function(distributor) { %}
      <tr>
        <td class="col-fixed-id">#{{ distributor.id }}</td>
        <td>{{ distributor.name }}</td>
      </tr>
      {% }) %}
    </table>
    {% if (content.get("reports")) { %}
    <div class="app-list-headers clearfix">
      <div class="pull-left">Revenue:</div>
    </div>
    <table class="table">
      {% _.each(content.get("reports"), function(report) { %}
      <tr>
        <td>{{ report.comment }}</td>
        <td class="text-right">{{ moment.unix(report.time / 1000).format('YYYY-MM-DD') }}</td>
        <td class="text-right">£{{ Math.round(report.amount / 100).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") }}</td>
      </tr>
      {% }) %}
    </table>
    {% } %}
  {% } else { %}
    <h6 class="text-muted">No one distributes this content...</h6>
  {% } %}
{% } %}
