{% if (user.get("contracts").length > 0) { %}
  <div class="app-list-headers clearfix">
    <div class="pull-left">List of content under contract:</div>
  </div>
  <table class="table table-hover table-condensed distributed">
  <thead>
    <tr>
      <th>Title</th>
      <th class="text-right">Plays</th>
      <th class="col-fixed-more"></th>
    <tr>
  </thead>
  <tbody>
    {% _.each(user.get("contracts"), function(contract) { %}
      <tr data-fingerprint="{{ contract.content.fingerprint }}">
        <td>{{ contract.content.title }}</td>
        <td class="text-right text-{{ contract.plays >= contract.content.min_plays ? "success" : "warning" }}">
          {{ contract.plays.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") }}
          /
          {{ contract.content.min_plays.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") }}
        </td>
        <td class="text-center text-muted"><i class="glyphicon glyphicon-chevron-right"></i></td>
      </tr>
    {% }) %}
  </tbody>
  </table>
{% } %}
{% if (user.get("available_content").length > 0) { %}
<div class="app-list-headers clearfix">
  <div class="pull-left">Music marketplace:</div>
</div>
<table class="table table-hover table-condensed available">
<thead>
  <tr>
    <th>Title</th>
    <th class="col-fixed-plays text-right">Min. Plays</th>
    <th class="col-fixed-price text-right">Price</th>
    <th class="col-fixed-more"></th>
  <tr>
</thead>
<tbody>
  {% _.each(_.chain(user.get("available_content")).reverse().value(), function(content) { %}
    <tr data-fingerprint="{{ content.fingerprint }}">
      <td>{{ content.title }}</td>
      <td class="text-right">{{ content.min_plays.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") }}</td class="text-right">
      <td class="text-right">{{ content.price_per_listen }}¢</td>
      <td class="text-center text-muted"><i class="glyphicon glyphicon-chevron-right"></i></td>
    </tr>
  {% }) %}
</tbody>
</table>
{% } %}
