{% if (users.length > 0) { %}
<div class="app-list-headers clearfix">
  <div class="text-center">Log in using one of existing accounts</div>
</div>
<div class="buttons-wrapper" id="registered-accounts">
  {% _.each(users, function(user, i) { %}
    <a class="button login" data-index="{{ i }}">
      <b>{{ user.name }}</b> (#{{ user.id }})
    </a>
  {% }) %}
</div>
<div class="app-list-headers clearfix">
  <div class="text-center">Or you can create a new account</div>
</div>
{% } else { %}
<div class="app-list-headers clearfix">
  <div class="text-center">You have not registered any accounts yet</div>
</div>
{% } %}
<div class="buttons-wrapper">
  <a class="button button-green" id="login-registration">
    <i class="glyphicon glyphicon-user"></i>
    Create new account
  </a>
</div>
<div class="app-list-headers clearfix">
  <div class="text-center">
    {% if (users.length > 0) { %}
      Or just explore blockchain
    {% } else { %}
      Or check latest blocks
    {% } %}
  </div>
</div>
<div class="buttons-wrapper">
  <a class="button button-orange" id="login-blockchain">
    <i class="glyphicon glyphicon-search"></i>
    Blockchain explorer
  </a>
</div>
<span class="list-option-link">
  Find out more on <a target="_blank" href="http://exonum.com/">exonum.com</a>
</span>
