<ng-map center="41.850033, -87.6500523" zoom="18" map-type-control="false" default-style="false" style="height:100%">
  <custom-control id="button1" position="TOP_LEFT" index="1" on-click="home()">
    <div class="map-button first-map-button">
      <div><span class="glyphicon glyphicon-home"></span> Home</div>
    </div>
  </custom-control>
  <custom-control id="button2" position="TOP_LEFT" index="1" on-click="register()">
    <div class="map-button">
      <div><span class="glyphicon glyphicon-user"></span> Register</div>
    </div>
  </custom-control>
  <custom-control id="button3" position="TOP_LEFT" index="1" on-click="ownersList()">
    <div class="map-button">
      <div><span class="glyphicon glyphicon-list"></span> Owners list</div>
    </div>
  </custom-control>
  <custom-control id="button4" position="TOP_LEFT" index="1" on-click="createTitle()">
    <div class="map-button">
      <div><span class="glyphicon glyphicon-picture"></span> Create title</div>
    </div>
  </custom-control>
  <custom-control id="button5" position="TOP_LEFT" index="1" on-click="titlesList()">
    <div class="map-button">
      <div><span class="glyphicon glyphicon-list"></span> Titles list</div>
    </div>
  </custom-control>
</ng-map>
