<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Owners list</h3>
</div>
<div class="modal-body" id="modal-body">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    <tr ng-repeat="owner in owners">
      <td>{{owner.id}}</td>
      <td>{{owner.firstname}}</td>
      <td>{{owner.lastname}}</td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="ok()"><span class="glyphicon glyphicon-ok"></span> Ok</button>
</div>