<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Titles list</h3>
</div>
<div class="modal-body" id="modal-body">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Points</th>
    </tr>
    <tbody ng-repeat="title in titles">
      <tr>
        <td>
          {{title.id}}
        </td>
        <td>{{title.title}}</td>
        <td>
          <table class="table">
          <tr><th>Lat</th><th>Lng</th></tr>
          <tr ng-repeat="point in title.points">
            <td>{{point.x}}</td><td>{{point.y}}</td>
          </tr>
          </table>
        </td>
      </tr>
      <tr><td colspan="3">Hash: {{title.history_hash}}</td></tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="ok()"><span class="glyphicon glyphicon-ok"></span> Ok</button>
</div>