<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Transfer title</h3>
</div>
<div class="modal-body" id="modal-body">
  <div><strong>Id:</strong> {{titleInfo.id}}</div>
  <div><strong>Location:</strong> {{center.lat()}}, {{center.lng()}}</div>
  <div><strong>Current owner:</strong> {{titleInfo.ownerInfo.firstName}} {{titleInfo.ownerInfo.lastName}}</div>

  <form>
    <div class="form-group">
      <label for="owner">Select new owner</label>
      <select class="form-control" ng-model="newOwner" id="owner" ng-options="(owner.firstname + ' ' + owner.lastname) for owner in owners track by owner.id"></select>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="transfer()">Transfer</button>
  <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
</div>
