<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Title info</h3>
</div>
<div class="modal-body" id="modal-body">
  <div><strong>Id:</strong> {{titleInfo.id}}</div>
  <div class="status"><strong>Status:</strong>
    <!-- <span class="reclaimed" ng-if="titleInfo.ownerId == null">Reclaimed </span> -->
    <span class="deleted" ng-if="titleInfo.deleted">Deleted </span>
    <span class="active" ng-if="!titleInfo.deleted">Active </span>
  </div>
  <div><strong>Location:</strong> {{center.lat()}}, {{center.lng()}}</div>
  <div><strong>Owner:</strong> {{titleInfo.owner.firstname}} {{titleInfo.owner.lastname}}</div>
  <div><strong>History:</strong></div>
  <table class="table">
    <tr><th>Operation</th><th>Details</th><th>Date</th><th>TransactionID</th></tr>
    <tr ng-repeat="history in titleInfo.history">
      <td>
        <span ng-switch="history.operation">
          <span ng-switch-when="1">Create</span>
          <span ng-switch-when="2">Modify</span>
          <span ng-switch-when="3">Transfer</span>
          <span ng-switch-when="4">Delete</span>
          <span ng-switch-when="5">Restore</span>
        </span>

      </td>
      <td>
        <span ng-switch="history.operation">
          <span ng-switch-when="1">
            <strong>Owner:</strong> {{history.old_owner.firstname}} {{history.old_owner.lastname}}<br/>
          </span>
          <span ng-switch-when="2">Modify</span>
          <span ng-switch-when="3">
            <strong>Old owner:</strong> {{history.old_owner.firstname}} {{history.old_owner.lastname}}<br/>
            <strong>New owner:</strong> {{history.new_owner.firstname}} {{history.new_owner.lastname}}
          </span>
          <span ng-switch-when="4">
            <strong>Owner:</strong> {{history.old_owner.firstname}} {{history.old_owner.lastname}}<br/>
          </span>
          <span ng-switch-when="5">
            <strong>Owner:</strong> {{history.old_owner.firstname}} {{history.old_owner.lastname}}<br/>
          </span>
        </span>

      </td>
      <td>{{history.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
      <td>
          <a style="cursor: pointer" ng-click="getTransacttionDetails(history.tx_hash)">{{history.tx_hash}}</a>
          <br/>
          <div ng-if="transaction[history.tx_hash]" style="width:500px; word-wrap:break-word; display:inline-block;">
            {{transaction[history.tx_hash]}}
          </div>
      </td>
    </tr>
  </table>

</div>
<div class="modal-footer">
  <!-- <button ng-if="titleInfo.ownerId != null && !titleInfo.deleted" class="btn btn-warning" type="button" ng-click="reclaim()"><span class="glyphicon glyphicon-repeat"></span> Reclaim</button> -->
  <button ng-if="!titleInfo.deleted" class="btn btn-primary" type="button" ng-click="transfer()"><span class="glyphicon glyphicon-transfer"></span> Transfer</button>
  <button ng-if="titleInfo.deleted" class="btn btn-danger" type="button" ng-click="restore()"><span class="glyphicon glyphicon-refresh"></span> Restore</button>
  <button ng-if="!titleInfo.deleted" class="btn btn-danger" type="button" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
  <button class="btn btn-default" type="button" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> Close</button>
</div>
