<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Create a new title</h3>
</div>
<div class="modal-body" id="modal-body">
  <h4>To create a new land title, follow the next steps:</h4>
  <ol>
    <li>Start planning a title by placing the first point on the map. Note that adding a point within existing land title is not allowed</li>
    <li>Use your mouse to make points on the map. Note that making points in a way the line will cross the existing line is not allowed</li>
    <li>Finish your land title by making the last poing in your start position</li>
    <li>Confirm or decline the created title</li>
  </ol>
  <div ng-class="{'form-group has-error': titleNotValid, 'form-group': !titleNotValid}">
    <label for="title">Title</label>
    <input type="text" class="form-control" ng-model="title" id="title" placeholder="Title">
  </div>
  <div ng-class="{'form-group has-error': ownerNotValid, 'form-group': !ownerNotValid}">
    <label for="title">Owner</label>
    <select class="form-control" ng-model="owner" ng-options="owner as (owner.firstname + ' ' + owner.lastname) for owner in owners track by owner.id"></select>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="confirm()"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
  <button class="btn btn-default" type="button" ng-click="decline()"><span class="glyphicon glyphicon-remove"></span> Decline</button>
</div>
