[package]
name = "exonum-api"
version = "0.13.0-rc.2"
edition = "2018"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-api"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "http"]
categories = ["cryptography"]
description = "HTTP API engine the Exonum framework"

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
actix = "0.7.9"
actix-net = "0.2.6"
actix-web = { version = "0.7.18", default-features = false }
chrono = { version = "0.4.6", features = ["serde"] }
failure = "0.1.5"
futures = "0.1.25"
log = "0.4.6"
serde = "1.0.101"
serde_json = "1.0.19"
serde_urlencoded = "0.6.0"

[dev-dependencies]
pretty_assertions = "0.6.1"
