/* Home */
.home-wrapper {
    padding: 80px 0 20px 0;
}
@media (min-width: 768px) {
    .home-wrapper {
        padding: 100px 0 40px 0;
    }
}
@media (min-width: 1200px) {
    .home-wrapper {
        padding: 100px 0 40px 0;
    }
}

/* Background */
.bg-cover {
    overflow: hidden;
    position: relative;
}
.bg-cover-image {
    background-image: url("../images/bg-blockchain.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0.075;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}
.logo-icon {
    display: inline-block;
    height: 60px;
    margin-right: 15px;
    vertical-align: middle;
    width: 60px;
}
.logo-big {
    margin: 0 auto;
    width: 256px;
}
@media (min-width: 768px) {
    .logo-big {
        margin: 0;
    }
}

/* Feature */
.feature-image {
    width: 290px;
    margin: 48px auto 0;
}
@media (min-width: 768px) {
    .feature-image {
        margin-top: 110px;
        width: auto;
    }
}
.feature-detail {
    padding: 0!important;
    text-align: center;
}
@media (min-width: 768px) {
    .feature-detail {
        padding: 90px 0 50px 30px !important;
        text-align: left;
    }
}
.feature-footer {
    padding-top: 80px;
}

/* Math */
.math {
    font-size: 2em;
    line-height: 1.25;
}
@media (min-width: 768px) {
    .math {
        font-size: 1.25em;
    }
}
@media (min-width: 992px) {
    .math {
        font-size: 1.5em;
    }
}
@media (min-width: 1200px) {
    .math {
        font-size: 2em;
    }
}
.math-item {
    display: block;
    padding: 0.5em 0;
    vertical-align: middle;
}
@media (min-width: 768px) {
    .math-item {
        display: inline-block;
        padding: 0 0.5em 0 0.25em;
        text-align: left;
    }
}
@media (min-width: 1200px) {
    .math-item {
        padding: 0 1em 0 0.5em;
    }
}
.math-image {
    display: block;
    margin: 0.5em auto 0;
    width: 96px;
}
@media (min-width: 768px) {
    .math-image {
        display: inline-block;
        margin: 0 0 0 0.5em;
        text-align: left;
        width: 64px;
    }
}
@media (min-width: 1200px) {
    .math-image {
        margin: 0 0 0 1em;
        width: 72px;
    }
}

/* Piano */
.piano {
    overflow: hidden;
    background-color: #334159;
}
@media (min-width: 768px) {
    .piano {
        padding: 120px 0 80px;
    }
}
@media (min-width: 1200px) {
    .piano {
        padding: 120px 0;
    }
}
.piano-tabs > li > a {
    color: #5bc0de;
}
.piano-tabs > li > a:focus,
.piano-tabs > li > a:hover {
    background-color: #fff;
    border-color: #fff;
}
.piano-tabs > li.active > a,
.piano-tabs > li.active > a:focus,
.piano-tabs > li.active > a:hover {
    background-color: transparent;
    border-bottom-color: #334159;
    color: #fff;
}
.piano-pills {
    text-transform: uppercase;
}
.piano-pills > li > a {
    border: 1px solid transparent;
    color: #fff;
    padding: 5px 15px;
}
.piano-pills > li > a:focus,
.piano-pills > li > a:hover {
    color: #5bc0de;
    border-color: #5bc0de;
    background-color: transparent;
}
.piano-pills > li.active > a,
.piano-pills > li.active > a:focus,
.piano-pills > li.active > a:hover {
    background-color: #5bc0de;
    border: none;
    color: #fff;
    padding: 6px 16px;
}
@media (min-width: 768px) {
    .piano-tab {
        height: 248px;
    }
}
.piano-muted {
    color: #9fa5ad;
}
.piano-iphone {
    width: 260px;
}
@media (min-width: 768px) {
    .piano-iphone {
        position: absolute;
        top: -140px;
        left: 0;
        width: 300px;
    }
}
@media (min-width: 992px) {
    .piano-iphone {
        top: -160px;
        left: 100px;
    }
}
@media (min-width: 1200px) {
    .piano-iphone {
        left: 180px;
    }
}
.piano-iphones {
    width: 260px;
    margin-top: 20px;
}
@media (min-width: 768px) {
    .piano-iphones {
        position: absolute;
        top: -96px;
        left: 0;
        width: 330px;
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .piano-iphones {
        top: -164px;
        left: 0;
        width: 440px;
    }
}
@media (min-width: 1200px) {
    .piano-iphones {
        top: -144px;
        left: 50px;
    }
}
.piano-ipad {
    width: 260px;
    margin-top: 40px;
}
@media (min-width: 768px) {
    .piano-ipad {
        position: absolute;
        top: -60px;
        left: 0;
        width: 330px;
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .piano-ipad {
        top: -80px;
        left: 0;
        width: 440px;
    }
}
@media (min-width: 1200px) {
    .piano-ipad {
        top: -100px;
        left: 0;
        width: 540px;
    }
}

/* Typography */
.sub-title {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    padding-bottom: 10px;
    padding-top: 40px;
}