/* Home */
.home-wrapper {
    padding: 80px 0 20px 0;
}
@media (min-width: 768px) {
    .home-wrapper {
        padding: 100px 0 40px 0;
    }
}
@media (min-width: 1200px) {
    .home-wrapper {
        padding: 100px 0 40px 0;
    }
}

/* Background */
.bg-cover {
    overflow: hidden;
    position: relative;
}
.bg-cover-image {
    background-image: url("../images/bg-blockchain.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0.075;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}
.logo-icon {
    display: inline-block;
    height: 60px;
    margin-right: 15px;
    vertical-align: middle;
    width: 60px;
}
.logo-big {
    margin: 0 auto;
    width: 256px;
}
@media (min-width: 768px) {
    .logo-big {
        margin: 0;
    }
}

/* Feature */
.feature-image {
    width: 290px;
    margin: 48px auto 0;
}
@media (min-width: 768px) {
    .feature-image {
        margin-top: 110px;
        width: auto;
    }
}
.feature-detail {
    padding: 0!important;
    text-align: center;
}
@media (min-width: 768px) {
    .feature-detail {
        padding: 90px 0 50px 30px !important;
        text-align: left;
    }
}
.feature-footer {
    padding-top: 80px;
}

/* Math */
.math {
    font-size: 2em;
    line-height: 1.25;
}
@media (min-width: 768px) {
    .math {
        font-size: 1.25em;
    }
}
@media (min-width: 992px) {
    .math {
        font-size: 1.5em;
    }
}
@media (min-width: 1200px) {
    .math {
        font-size: 2em;
    }
}
.math-item {
    display: block;
    padding: 0.5em 0;
    vertical-align: middle;
}
@media (min-width: 768px) {
    .math-item {
        display: inline-block;
        padding: 0 0.5em 0 0.25em;
        text-align: left;
    }
}
@media (min-width: 1200px) {
    .math-item {
        padding: 0 1em 0 0.5em;
    }
}
.math-image {
    display: block;
    margin: 0.5em auto 0;
    width: 96px;
}
@media (min-width: 768px) {
    .math-image {
        display: inline-block;
        margin: 0 0 0 0.5em;
        text-align: left;
        width: 64px;
    }
}
@media (min-width: 1200px) {
    .math-image {
        margin: 0 0 0 1em;
        width: 72px;
    }
}

/* Demo */
.demo {
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
@media (min-width: 768px) {
    .demo {
        text-align: left;
    }
}
.demo-container {
    padding-bottom: 40px;
    position: relative;
}
.demo-container + .demo-container {
    margin-top: 40px;
}
@media (min-width: 768px) {
    .demo-container {
        height: 360px;
        padding-bottom: 0;
        padding-top: 20px;
    }
}
@media (min-width: 992px) {
    .demo-container {
        height: 420px;
        padding-top: 80px;
    }
}
@media (min-width: 1200px) {
    .demo-container {
        height: 480px;
        padding-top: 100px;
    }
}
.demo-image-front {
    left: 0;
    margin: 0 0 0 -120px;
    position: relative;
    top: 0;
    width: 200px;
    z-index: 10;
}
.demo-image-front-reverse {
    left: auto;
    right: 0;
}
@media (min-width: 768px) {
    .demo-image-front {
        margin: -20px 0 0 100px;
        position: absolute;
        width: 220px;
    }
    .demo-image-front-reverse {
        margin: -20px 100px 0 0;
    }
}
@media (min-width: 992px) {
    .demo-image-front {
        margin: 0 0 0 140px;
        width: 242px;
    }
    .demo-image-front-reverse {
        margin: 0 140px 0 0;
    }
}
@media (min-width: 1200px) {
    .demo-image-front {
        margin: -20px 0 0 170px;
        width: 292px;
    }
    .demo-image-front-reverse {
        margin: -20px 170px 0 0;
    }
}
.demo-image-back {
    left: 0;
    margin: 10px 0 0 -15px;
    position: relative;
    top: 0;
    width: 180px;
    z-index: 5;
}
.demo-image-back-reverse {
    left: auto;
    right: 0;
}
@media (min-width: 768px) {
    .demo-image-back {
        margin: 0 0 0 30px;
        position: absolute;
        width: 200px;
    }
    .demo-image-back-reverse {
        margin: 0 30px 0 0;
    }
}
@media (min-width: 992px) {
    .demo-image-back {
        margin: 20px 0 0 60px;
        width: 220px;
    }
    .demo-image-back-reverse {
        margin: 20px 60px 0 0;
    }
}
@media (min-width: 1200px) {
    .demo-image-back {
        margin: 20px 0 0 80px;
        width: 260px;
    }
    .demo-image-back-reverse {
        margin: 20px 80px 0 0;
    }
}

/* Typography */
.sub-title {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    padding-bottom: 10px;
    padding-top: 40px;
}