<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Head --}}
    {{> head}}

    {{ghost_head}}
</head>
<body>

    {{!-- Header  --}}
    {{> header url_path="/"}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- Footer  --}}
    {{> footer url_path="/"}}

</body>
</html>
