{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}

    {{!-- Title --}}
    <section class="home bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        <h1 class="animated fadeInDown wow" data-wow-delay=".1s">{{title}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section blog-details">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {{!-- Content --}}
                    {{content}}
                </div>
            </div>
        </div>
    </section>

{{/post}}
