{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
    <section class="home bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        <h1 class="animated fadeInDown wow" data-wow-delay=".1s">#{{name}}</h1>
                        {{#if description}}
                            <h4 class="page-sub-title animated fadeInDown wow" data-wow-delay=".3s">
                                {{description}}
                            </h4>
                        {{else}}
                            <h4 class="page-sub-title animated fadeInDown wow" data-wow-delay=".3s">
                                A {{../pagination.total}}-post collection
                            </h4>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/tag}}

{{!-- The tag below includes the post loop - partials/loop.hbs --}}
{{> "loop"}}
