[package]
name = "exonum-testkit-server"
publish = false
version = "0.0.0"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-testkit"
readme = "README.md"
license = "Apache-2.0"
keywords = ["test", "blockchain", "framework", "exonum"]
categories = ["development-tools::testing"]
description = "This example demonstrates how to use the testkit together with client-side testing."

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0-rc.1", path = "../../../exonum" }
exonum-testkit = { version = "1.0.0-rc.1", path = ".." }
exonum-cryptocurrency = { version = "0.0.0", path = "../../../examples/cryptocurrency" }
exonum-explorer-service = { version = "1.0.0-rc.1", path = "../../../services/explorer" }
exonum-rust-runtime = { version = "1.0.0-rc.1", path = "../../../runtimes/rust" }
