[package]
name = "exonum-supervisor"
version = "1.0.0-rc.1"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
readme = "README.md"
license = "Apache-2.0"

keywords = ["exonum", "service", "library"]
categories = ["cryptography"]
description = "Exonum supervisor service."

[dependencies]
byteorder = { version = "1.2.7", features = [ "i128" ] }
failure = "0.1.5"
serde = "1.0.0"
serde_derive = "1.0.0"
serde_json = "1.0.0"
serde_str = "0.1.0"
protobuf = "2.8.0"
log = "0.4.6"
hex = "=0.4.0" # 0.4.1 is not compatible with Rust 1.36

exonum = { version = "1.0.0-rc.1", path = "../../exonum" }
exonum-derive = { version = "1.0.0-rc.1", path = "../../components/derive" }
exonum-merkledb = { version = "1.0.0-rc.1", path = "../../components/merkledb" }
exonum-proto = { version = "1.0.0-rc.1", path = "../../components/proto" }
exonum-rust-runtime = { version = "1.0.0-rc.1", path = "../../runtimes/rust" }

[dev-dependencies]
futures = "0.1.25"
exonum-testkit = { version = "1.0.0-rc.1", path = "../../test-suite/testkit" }
bincode = "1.2.1"

[build-dependencies]
exonum-build = { version = "1.0.0-rc.1", path = "../../components/build" }
