[package]
name = "exonum-supervisor"
version = "0.12.0"
edition = "2018"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
readme = "README.md"
license = "Apache-2.0"

keywords = ["exonum", "service", "library"]
categories = ["cryptography"]
description = "Exonum supervisor service."

[dependencies]
byteorder = { version = "1.2.7", features = [ "i128" ] }
failure = "0.1.5"
serde = "1.0.0"
serde_derive = "1.0.0"
serde_json = "1.0.0"
serde_str = "0.1.0"
protobuf = "2.8.0"
log = "0.4.6"
hex = "0.4"

exonum = { version = "0.12.0", path = "../../exonum" }
exonum-derive = { version = "0.12.0", path = "../../components/derive" }
exonum-merkledb = { version = "0.12.0", path = "../../components/merkledb" }
exonum-proto = { version = "0.12.0", path = "../../components/proto" }
exonum-crypto = { version = "0.12.0", path = "../../components/crypto" }

[dev-dependencies]
exonum-testkit = { version = "0.12.0", path = "../../testkit" }

[build-dependencies]
exonum-build = { version = "0.12.0", path = "../../components/build" }
