@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body {
    font-family: 'Open Sans', sans-serif;
    color: #647082;
    width: 100%;
    background: #eceef2;
    min-height: 100%;
    position: relative;
}

html {
    background: #eceef2;
    height: 100%;
    margin: auto;
    width: 100%;
}
a {
    color: #266be9;
}
samp {
    word-wrap: break-word;
}

.page {
    margin: 0 auto;
    max-width: 640px;
}
.app-wrapper {
    margin: 0 auto;
    width: 375px;
    height: 100%;
    overflow-x: hidden;
    background: #eceef2;
    position: relative;
}
.welcome-wrapper {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    background: #0f2347;
    background: radial-gradient(circle farthest-corner at center center, #17428e, #112d60, #0e1f3f);
    text-align: center;
    color: #fff;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.welcome-intro {
    padding-top: 60px;
    padding-bottom: 60px;
}
.app-logo {
    margin: 0 auto 15px auto;
    width: 60px;
    height: 40px;
}
.app-header {
    font-size: 36px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 5px;
}
.app-subheader {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    letter-spacing: 1.2px;
    margin: 0 auto;
    max-width: 480px;
}


/*
    Buttons
*/
.buttons-wrapper {
    max-width: 280px;
    margin: 0 auto;
}
.buttons-wrapper .button {
    margin-top: 13px;
    margin-bottom: 20px;
}
.button {
    text-align: center;
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    color: #647082;
    border: solid 1px #647082;
    border-radius: 21px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}
a.button:focus, a.button:active, a.button:hover {
    text-decoration: none;
}
.button:focus, .button:active {
    background: #e1e6ec;
    border-color: #657082;
}
.welcome-wrapper .button {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.3);
}
.welcome-wrapper .button:focus, .welcome-wrapper .button:active {
    background: #8e8f93;
    border-color: #8e8f93;
}
.button.button-red {
    color: #fff;
    border-color: #f33d54;
    background-color: #f33d54;
}
.button.button-red:focus, .button.button-red:active {
    background: #b10632;
    border-color: #b10632;
}
.button.button-green {
    color: #fff;
    border-color: #39b54a;
    background-color: #39b54a;
}
.button.button-green:focus, .button.button-green:active {
    background: #22752f;
    border-color: #22752f;
}
.button.button-orange {
    color: #fff;
    border-color: #f7941d;
    background-color: #f7941d;
}
.button.button-orange:focus, .button.button-orange:active {
    background: #be7214;
    border-color: #be7214;
}
.button.button-blue {
    color: #fff;
    border-color: #0054a6;
    background-color: #0054a6;
}
.button.button-blue:focus, .button.button-blue:active {
    background: #172f5d;
    border-color: #172f5d;
}
.button.button-light {
    color: #fff;
    border-color: #9c9c9c;
}
.button.button-light:focus, .button.button-light:active {
    background: #8e8f93;
    border-color: #8e8f93;
}
.button.button-link {
    border-color: transparent;
    color: #006699;
}
.button.button-link:focus, .button.button-link:active {
    color: #142f5e;
    background: transparent;
}
.button.button-white {
    background-color: #fff;
}
.button.button-white:focus, .button.button-white:active {
    background-color: #eee;
}
.button-group {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.button-group .button {
    display: table-cell;
    width: 33%;
    border-radius: 0;
}
.button-group .button:first-child {
    border-radius: 21px 0 0 21px;
}

.button-group .button:last-child {
    border-radius: 0 21px 21px 0;
}
.button-inner {
    max-width: 225px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}


/*
    Toolbar
*/
.toolbar {
    background: #0e1f3e;
    color: #fff;
    text-align: center;
    line-height: 60px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
.toolbar-return-button {
    width: 80px;
    height: 60px;
    cursor: pointer;
}
.toolbar-help-button {
    margin-bottom: 0;
}
.toolbar-help-button .icon-bar {
    background-color: #fff;
}
.toolbar-dropdown a {
    color: #fff;
}
.toolbar-username .glyphicon {
    display: none;
}
.toolbar-username[data-type="owner"] .glyphicon-user,
.toolbar-username[data-type="distributor"] .glyphicon-briefcase {
    display: inline-block;
}
@media (min-width: 768px) {
    .toolbar-dropdown {
        float: right;
        margin: -60px 0 0;
    }
    .toolbar-username {
        padding: 0!important;
        line-height: 60px!important;
    }
}
.toolbar-title {
    margin: 0 60px;
    font-size: 16px;
}
.toolbar-title span {
    vertical-align: middle;
    display: inline-block;
    line-height: 22px;
}


/*
    Bottom menu
*/
.bottom-menu {
    background: #fff;
    color: #233a59;
    text-align: center;
    height: 60px;
    position: fixed;
    bottom:0;
    left: 0;
    padding: 0 20px;
    width: 375px;
    z-index: 1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.bottom-menu-item {
    height: 60px;
    font-size: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center 10px;
    opacity: 0.4;
}
.bottom-menu-item.active { opacity: 1; }
.bottom-menu-item-icon {
    height: 40px;
    line-height: 40px;
}
.bottom-menu-item-icon img {
    max-height: 22px;
}


/*
    Content
*/
.app-content {
    position: relative;
    width: 100%;
    overflow: auto;
    padding: 75px 20px;
}
.app-content ol {
    font-size: 12px;
    margin-bottom: 20px;
    padding-left: 15px;
}
.app-content ol li {
    margin-bottom: 15px;
    padding-left: 25px;
    word-break: break-all;
    color: #333;
}
.app-list-headers {
    text-transform: uppercase;
    font-size: 11px;
    color: #7c8ba1;
    margin-bottom: 8px;
}
.app-list {
    background: #fff;
    width: 100%;
    color: #233a59;
    font-size: 14px;
    margin-bottom: 20px;
}
.app-list-option {
    cursor: pointer;
}
.app-list-option:focus, .app-list-option:active {
    background: #e1e6ec;
}
.app-list td {
    padding: 10px;
    height: 55px;
    border-bottom: solid 1px #ebedf1;
}
.app-list td:last-child {
    text-align: right;
}


/*
    Cell
*/
.cell-light { color: #abb5c4; }
.cell-small { font-size: 12px; }
.cell-smaller { font-size: 11px; }
.cell-photo img { max-height: 44px; max-width: 44px; border-radius: 50%; }
.cell-action-type { text-transform: uppercase; color: #647082; font-size: 13px; }
.cell-action-type:focus, .cell-action-type:active { color: #6566ff; }
.cell-link { font-size: 12px; }


/*
    List option
*/
.list-option-description { margin-bottom: 25px; }
.list-option-ends { margin-bottom: 25px; font-size: 16px; text-align: center; }
.list-option-link { margin-bottom: 25px; text-align: center; display: block; }


/*
    Checker
*/
.checker {
    display: inline-block;
    width: 21px;
    height: 21px;
    border: solid 2px #d5dae1;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 3px;
    margin-top: 3px;
    text-align: center;
    line-height: 15px;
}
.checker.active {
    border-color: #00d66a;
    background-color: #00d66a;
}


/*
    Modal
*/
.modal-content {
    background-color: rgba(255, 255, 255, 0.97);
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-cross {
    cursor: pointer;
    background-image: url(../images/cross_gray.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 13px;
    right: 8px;
}
.modal-backdrop.in {
    filter: alpha(opacity=0);
    opacity: .0;
}
.modal-candidate .modal-dialog {
    width: 336px;
    margin-left: 20px;
    margin-right: 20px;
}
.modal-decrypt .modal-dialog {
    margin: 0 0 0 0;
    width: 375px;
    height: 100%;
}
.modal-decrypt .modal-content {
    background-color: rgba(51, 51, 51, 0.97);
    color: #fff;
    min-height: 100%;
}
.modal-decrypt.modal-decrypt-dark .modal-dialog {
    margin-top: 0;
}
.modal-decrypt.modal-decrypt-dark .modal-content {
    background-color: rgba(25, 25, 25, 0.97);
}
.modal-decrypt .modal-cross {
    top: 25px;
    right: 25px;
}


/*
    Confirm choise
*/
.confirm-choise-block {
    text-align: center;
    margin-top: 20px;
}
.confirm-choise-block-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 13px;
}
.confirm-choise-block-subtitle {
    font-size: 16px;
    margin-bottom: 10px;
}
.confirm-choise-block-photo img {
    width: 100px;
    margin-bottom: 15px;
    border-radius: 50%;
}
.confirm-choise-block-name {
    font-size: 27px;
    margin-bottom: 11px;
}
.confirm-choise-block-addition {
    margin: 0 auto 17px auto;
    width: 240px;
    padding: 15px;
    border: solid 2px #dfe2e6;
}


/*
    Content header
*/
.app-content-header {
    margin: -15px -20px 10px -20px;
    padding: 0 20px;
    background: #fff;
    color: #233a59;
    font-size: 18px;
    height: 52px;
    line-height: 52px;
    text-align: center;
}
.app-content-header span {
    vertical-align: middle;
    line-height: 20px;
    display: inline-block;
}
.inner-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    color: #7c8ba1;
    margin-bottom: 8px;
}

/*
    Content
*/
.app-content p {
    font-size: 12px;
    margin-bottom: 20px;
}
.app-content p.blacked {
    font-size: 14px;
    color: #333333;
}
.code-box {
    border: solid 1px #647082;
    background: #fff;
    padding: 11px 6px;
    text-align: center;
    font-size: 11px;
    margin-bottom: 20px;
    color: #000;
    word-break: break-all;
    font-family: Courier, monospace;
}
.code-box.code-box-bigger { font-size: 14px; }
.decrypt-desc {
    text-align: center;
    max-width: 230px;
    margin: 60px auto 40px auto;
}
.decrypt-desc p { font-size: 14px; }
.modal-decrypt-dark .decrypt-desc p { color: #a6a6a6; }
.keyboard-inputs {
    height: 13px;
    line-height: 13px;
    text-align: center;
}
.keyboard-input {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 6px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    margin: 0 11px;
}
.keyboard-input.active { background: rgba(255, 255, 255, 0.15); }
.keyboard-buttons {
    margin: 50px auto 25px auto;
    max-width: 280px;
}
.keyboard-buttons .clearfix { margin-bottom: 15px; }
.keyboard-button {
    cursor: pointer;
    width: 72px;
    height: 72px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 31px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: 36px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
.keyboard-button:focus, .keyboard-button:active {
    background: #8e8f93;
    border-color: #8e8f93;
}
.keyboard-button-digit {
    margin-top: 12px;
    line-height: 32px;
}
.keyboard-button-letters {
    font-size: 9px;
}
.input-wrapper {
    color: #000;
    background: #fff;
    position: relative;
    font-size: 18px;
    margin: 0 -20px 20px -20px;
    border-top: solid 1px #d8dde4;
    border-bottom: solid 1px #d8dde4;
}
.input-wrapper-prefix {
    position: absolute;
    top: 13px;
    left: 30px;
    z-index: 0;
}
.input-wrapper input {
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    padding: 13px 30px 13px 105px;
    font-size: 18px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.app-content-divider {
    margin: 0 -20px;
    height: 1px;
    background: #d8dde4;
    margin-bottom: 10px;
}
.grats {
    text-align: center;
    font-size: 18px;
    padding: 10px 0 20px 0;
}
.grats-title {
    font-weight: 500;
    margin-bottom: 15px;
}
.grats p {
    font-size: 14px;
    margin-bottom: 15px;
}
.right-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 20px;
    background-image: url(../images/right_arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.blockchain > tbody > tr > td,
.owned > tbody > tr > td,
.distributed > tbody > tr > td,
.available > tbody > tr > td {
  cursor: pointer;
}
.owners {
    margin-bottom: 23px;
}
@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 100px;
        white-space: normal;
    }

    .dl-horizontal dd {
        margin-left: 120px;
    }
}

.pages, .toolbar, .app-content, #alert, .welcome-wrapper {
    display: none;
}


/*
    Custom columns
*/
.col-fixed-price {
    width: 64px;
}
.col-fixed-plays {
    width: 72px;
}
.col-fixed-revenue {
    width: 72px;
}
.col-fixed-more {
    width: 32px;
}
.col-remove {
    margin: 8px 0 0 0;
    padding: 0;
}


/*
    Form elements
*/
textarea.form-control {
    padding: 6px 0;
    resize: vertical;
}
.input-group-addon {
    padding: 6px;
}


/*
    Page loader
*/
.loading {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1020;
    -webkit-user-select: none;
    text-align: center;
    padding-right: 25px;
}
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -16px;
    font-size: 32px;
    color: #000;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
