[package]
name = "exonum-keys"
version = "1.0.0-rc.1"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-keys"
readme = "README.md"
license = "Apache-2.0"
keywords = ["exonum", "cryptography", "library"]
categories = ["cryptography", "hashing"]
description = "Exonum node keys management."

[dependencies]
rand = "0.7"
failure = "0.1.5"
pwbox = "0.2.1"
secret-tree = "0.2.0"
serde = "1.0.10"
serde_derive = "1.0.64"
toml = "0.5.0"

exonum-crypto = { version = "1.0.0-rc.1", path = "../crypto" }

[dev-dependencies]
tempdir = "0.3.7"
hex = "=0.4.0" # 0.4.1 is not compatible with Rust 1.36
