[package]
name = "exonum-testkit"
version = "1.0.0-rc.3"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-testkit"
readme = "README.md"
license = "Apache-2.0"
keywords = ["test", "blockchain", "framework", "exonum"]
categories = ["development-tools::testing"]
description = """
Testkit for Exonum blockchain framework, allowing to test service APIs
synchronously.
"""

[package.metadata.docs.rs]
all-features = true # document `exonum-node`-specific APIs

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0-rc.3", path = "../../exonum" }
exonum-api = { version = "1.0.0-rc.3", path = "../../components/api" }
exonum-derive = { version = "1.0.0-rc.3", path = "../../components/derive" }
exonum-explorer = { version = "1.0.0-rc.3", path = "../../components/explorer" }
exonum-merkledb = { version = "1.0.0-rc.3", path = "../../components/merkledb" }
exonum-node = { version = "1.0.0-rc.3", path = "../../exonum-node", optional = true }
exonum-proto = { version = "1.0.0-rc.3", path = "../../components/proto" }
exonum-rust-runtime = { version = "1.0.0-rc.3", path = "../../runtimes/rust" }

actix = { version = "0.9.0", default-features = false }
actix-web = { version = "2.0.0", default-features = false }
chrono = "0.4.6"
futures = "0.3.4"
log = "0.4.6"
protobuf = "2.11.0"
reqwest = { version = "0.10.2", features = ["json"] }
serde = "1.0.10"
serde_derive = "1.0"
serde_json = "1.0"
serde_urlencoded = "0.6.0"

[dependencies.tokio]
version = "0.2.13"
features = ["blocking", "dns", "io-util", "macros", "rt-threaded", "tcp", "time"]

[dev-dependencies]
assert_matches = "1.2.0"
bincode = "1.2.1"
hex = "0.4.0"
lazy_static = "1.0.0"
pretty_assertions = "0.6.1"
rand = "0.7"
