[package]
name = "exonum-testkit"
version = "1.0.0"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-testkit"
readme = "README.md"
license = "Apache-2.0"
keywords = ["test", "blockchain", "framework", "exonum"]
categories = ["development-tools::testing"]
description = """
Testkit for Exonum blockchain framework, allowing to test service APIs
synchronously.
"""

[package.metadata.docs.rs]
all-features = true # document `exonum-node`-specific APIs

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0", path = "../../exonum" }
exonum-api = { version = "1.0.0", path = "../../components/api" }
exonum-derive = { version = "1.0.0", path = "../../components/derive" }
exonum-explorer = { version = "1.0.0", path = "../../components/explorer" }
exonum-merkledb = { version = "1.0.0", path = "../../components/merkledb" }
exonum-node = { version = "1.0.0", path = "../../exonum-node", optional = true }
exonum-proto = { version = "1.0.0", path = "../../components/proto" }
exonum-rust-runtime = { version = "1.0.0", path = "../../runtimes/rust" }

actix = { version = "0.13", default-features = false }
actix-test = "0.1"
actix-web = { version = "4.1", default-features = false }
futures = "0.3"
log = "0.4.6"
protobuf = "3.1"
reqwest = { version = "0.11", features = ["json"] }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_urlencoded = "0.7.0"
time = { version = "0.3", features = [ "macros", "serde" ] }

[dependencies.tokio]
version = "1"
features = ["io-util", "macros", "rt-multi-thread", "net", "time"]

[dev-dependencies]
assert_matches = "1.2.0"
bincode = "1.3"
hex = "0.4.2"
lazy_static = "1.0.0"
pretty_assertions = "1"
rand = "0.8"
