[package]
name = "exonum-testkit"
version = "1.0.0-rc.1"
edition = "2018"
authors = ["The Exonum Team <contact@exonum.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-testkit"
readme = "README.md"
license = "Apache-2.0"
keywords = ["test", "blockchain", "framework", "exonum"]
categories = ["development-tools::testing"]
description = """
Testkit for Exonum blockchain framework, allowing to test service APIs
synchronously.
"""

[package.metadata.docs.rs]
all-features = true # document `exonum-node`-specific APIs

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0-rc.1", path = "../../exonum" }
exonum-api = { version = "1.0.0-rc.1", path = "../../components/api" }
exonum-derive = { version = "1.0.0-rc.1", path = "../../components/derive" }
exonum-explorer = { version = "1.0.0-rc.1", path = "../../components/explorer" }
exonum-merkledb = { version = "1.0.0-rc.1", path = "../../components/merkledb" }
exonum-node = { version = "1.0.0-rc.1", path = "../../exonum-node", optional = true }
exonum-rust-runtime = { version = "1.0.0-rc.1", path = "../../runtimes/rust" }

actix-net = "0.2.6"
actix = "0.7.9"
actix-web = { version = "0.7.18", default-features = false }
chrono = "0.4.6"
failure = "0.1.5"
futures = "0.1.25"
log = "0.4.6"
reqwest = "0.9.8"
serde = "1.0.10"
serde_derive = "1.0"
serde_json = "1.0"
serde_urlencoded = "0.6.0"
tokio-core = "0.1.17"

[dev-dependencies]
assert_matches = "1.2.0"
bincode = "1.2.1"
hex = "=0.4.0" # 0.4.1 is not compatible with Rust 1.36
lazy_static = "1.0.0"
pretty_assertions = "0.6.1"
rand = "0.7"
thread_local = "1.0.0"
