<div class="app-content-header"><span>Encrypted ballot</span></div>
<div class="inner-header">Encrypted ballot hexadecimal</div>
<div class="code-box">{{currentCandidate.data[dataIndex].encrypted}}</div>
<ol>
    <li>Open link: <a href="http://www.xorbin.com/tools/sha256-hash-calculator" target="_blank">http://www.xorbin.com/tools/sha256-hash-calculator</a></li>
    <li>Input “<b>Encrypt ballot</b>” field from this page in “Data” field on site.</li>
    <li>Press “<b>Calculate SHA256 hash</b>” on site.</li>
    <li>Value retrieved in “<b>SHA-256 hash</b>” field on site should match the value in “<b>Ballot SHA-256 hash</b>” field below.</li>
</ol>