<div class="toolbar">
    <div class="toolbar-return-button pull-left" ng-click="back()" ng-show="backState"></div>
    <div class="toolbar-help-button pull-right" ng-show="backState">HELP</div>
    <div class="toolbar-help-button pull-right" ng-show="!backState">HELP</div>
    <div class="toolbar-title"><span>{{title || 'e-Voting'}}</span></div>
</div>
<div class="app-content">
    <div ui-view></div>
</div>
<div class="bottom-menu">
    <div class="row">
        <div class="col-xs-4 bottom-menu-item" ng-click="electionWizardLink()" ng-class="{'active': !$state.includes('monitor')}">
            <div class="bottom-menu-item-icon"><img src="images/icon_elections.svg" /></div>
            <div class="bottom-menu-item-title">Elections</div>
        </div>
        <div class="col-xs-4 bottom-menu-item" ui-sref="monitor" ui-sref-active="active">
            <div class="bottom-menu-item-icon"><img src="images/icon_monitor.png" /></div>
            <div class="bottom-menu-item-title">Monitor</div>
        </div>
        <div class="col-xs-4 bottom-menu-item">
            <div class="bottom-menu-item-icon"><img src="images/icon_settings.png" /></div>
            <div class="bottom-menu-item-title">Settings</div>
        </div>
    </div>
</div>