<div class="app-content-header"><span>Candidate option selected and encryption randomness</span></div>
<div class="inner-header">Plaintext candidate + randomness</div>
<div class="code-box">{{currentCandidate.data[dataIndex].plaintext}}</div>
<ol>
    <li>Copy and paste Plaintext candidate + randomness from above into “<b>Enter plaintext *:</b>” field on site.</li>
    <li>Press “<b>Encrypt with public key</b>” on site.</li>
    <li>Expand “<b>Encrypted ballot</b>” on this page below.</li>
    <li>Value retrieved in “Ciphertext (c):” field on site should match the value in “<b>Encrypted ballot</b>” field below.</li>
</ol>