<div class="inner-header">
    e-mail: notification of ballot confirmation<br>
    on public bulletin board (Optional)
</div>

<div class="input-wrapper">
    <div class="input-wrapper-prefix">E-mail:</div>
    <input placeholder="Your mail" ng-model="inputs.email">
</div>

<p>Optionally, you may enter an e-mail to receive at most 2 notifications about:</p>
<p>1) your ballot has been published on public bulletin board</p>
<p>2) this ballot has been replaced on public bulletin board by a new ballot, if you or an unauthorized 3rd party choose to cast a new one.</p>
<p>If you choose to vote again, you will receive 2nd notification on the entered e-mail, if any.</p>
<p>This functionality is for convenience only. You can always anonymously view the current state of public bulletin board.</p>

<div class="buttons-wrapper">
    <div class="button button-green" ng-click="sendEmailAndGo('tmp1', {}, 'submitted')">SUBMIT BALLOT</div>
    <div class="button button-link" ng-click="electionWizardReset()">DISCARD BALLOT</div>
</div>