[package]
name = "exonum-testkit"
version = "0.9.0"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum"
documentation = "https://docs.rs/exonum-testkit"
readme = "README.md"
license = "Apache-2.0"
keywords = ["test", "blockchain", "framework", "exonum"]
categories = ["development-tools::testing"]
description = """
Testkit for Exonum blockchain framework, allowing to test service APIs
synchronously.
"""

[badges]
travis-ci = { repository = "exonum/exonum" }
circle-ci = { repository = "exonum/exonum" }

[dependencies]
actix-web = "=0.6.15"
exonum = { version = "0.9.0", path = "../exonum" }
failure = "0.1.2"
futures = "=0.1.23"
log = "=0.4.3"
reqwest = "=0.8.6"
serde = "1.0.10"
serde_derive = "1.0.10"
serde_json = "1.0.2"
serde_urlencoded = "=0.5.2"
tokio-core = "=0.1.17"

[dev-dependencies]
rand = "=0.4.2"
pretty_assertions = "=0.5.1"
assert_matches = "1.2.0"
thread_local = "=0.3.5"
lazy_static = "1.0.0"
