[package]
name = "exonum-testkit"
version = "0.6.0"
authors = ["The Exonum Team <exonum@bitfury.com>"]
homepage = "https://exonum.com/"
repository = "https://github.com/exonum/exonum-testkit"
documentation = "https://docs.rs/exonum-testkit"
readme = "README.md"
license = "Apache-2.0"
keywords = ["test", "blockchain", "framework", "exonum"]
categories = ["development-tools::testing"]
description = """
Testkit for Exonum blockchain framework, allowing to test service APIs
synchronously.
"""

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "0.6.0", path = "../exonum" }
bodyparser = "0.8.0"
futures = "0.1.14"
log = "0.4.1"
mount = "0.4.0"
serde = "1.0.0"
serde_derive = "1.0.0"
serde_json = "1.0.0"
iron = "0.6.0"
iron-test = "0.6.0"
tokio-core = "0.1.9"
router = "0.6.0"

[dev-dependencies]
exonum-cryptocurrency = { version = "0.0.0", path = "../examples/cryptocurrency" }
bodyparser = "0.8.0"
serde_derive = "1.0.0"
rand = "0.4.2"
pretty_assertions = "0.5.0"
assert_matches = "1.2.0"
