[package]
name = "exonum-timestamping"
version = "0.0.0"
edition = "2018"
publish = false
authors = ["The Exonum Team <exonum@bitfury.com>"]
repository = "https://github.com/exonum/exonum"
readme = "README.md"
license = "Apache-2.0"

[badges]
travis-ci = { repository = "exonum/exonum" }
circle-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "0.11.0", path = "../../../exonum" }
exonum-crypto = { version = "0.11.0", path = "../../../components/crypto" }
exonum-derive = { version = "0.11.0", path = "../../../components/derive" }
exonum-merkledb = { version = "0.10.0", path = "../../../components/merkledb" }
exonum-configuration = { version = "0.11.0", path = "../../../services/configuration" }
exonum-time = { version = "0.11.0", path = "../../../services/time" }
serde = "1.0.10"
serde_derive = "1.0.10"
serde_json = "1.0.2"
failure = "0.1.5"
log = "0.4.6"
chrono = { version = "0.4.6", features = ["serde"] }
protobuf = "2.4.0"

[dev-dependencies]
exonum-testkit = { version = "0.11.0", path = "../../../testkit" }
pretty_assertions = "0.6.1"

[build-dependencies]
exonum-build = { version = "0.11.0", path = "../../../components/build" }

[features]
default = ["with-serde"]
with-serde = []
