[package]
name = "exonum-timestamping"
version = "0.0.0"
publish = false
authors = ["The Exonum Team <exonum@bitfury.com>"]
repository = "https://github.com/exonum/exonum"
readme = "README.md"
license = "Apache-2.0"

[badges]
travis-ci = { repository = "exonum/exonum" }
circle-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "0.8.0", path = "../../../exonum" }
exonum-configuration = { version = "0.8.0", path = "../../../services/configuration" }
exonum-time = { version = "0.8.0", path = "../../../services/time" }
exonum-btc-anchoring = { version = "0.7.0", optional = true }
serde = "1.0.10"
serde_derive = "1.0.10"
serde_json = "1.0.2"
router = "=0.6.0"
failure = "=0.1.1"
iron = "=0.6.0"
bodyparser = "=0.8.0"
log = "=0.4.1"
chrono = { version = "=0.4.2", features = ["serde"] }

[dev-dependencies]
exonum-testkit = { version = "0.8.0", path = "../../../testkit" }
pretty_assertions = "=0.5.1"

[features]
default = []
anchoring = ["exonum-btc-anchoring"]
