[package]
name = "exonum-timestamping"
version = "0.0.0"
publish = false
authors = ["The Exonum Team <exonum@bitfury.com>"]
repository = "https://github.com/exonum/exonum"
readme = "README.md"
license = "Apache-2.0"

[badges]
travis-ci = { repository = "exonum/exonum" }
circle-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "0.9.0", path = "../../../exonum" }
exonum-configuration = { version = "0.9.0", path = "../../../services/configuration" }
exonum-time = { version = "0.9.0", path = "../../../services/time" }
serde = "1.0.10"
serde_derive = "1.0.10"
serde_json = "1.0.2"
failure = "0.1.2"
log = "=0.4.5"
chrono = { version = "=0.4.6", features = ["serde"] }

[dev-dependencies]
exonum-testkit = { version = "0.9.0", path = "../../../testkit" }
pretty_assertions = "=0.5.1"
