[package]
name = "exonum-timestamping"
version = "1.0.0"
edition = "2018"
publish = false
authors = ["The Exonum Team <contact@exonum.com>"]
repository = "https://github.com/exonum/exonum"
readme = "README.md"
license = "Apache-2.0"

[badges]
travis-ci = { repository = "exonum/exonum" }

[dependencies]
exonum = { version = "1.0.0", path = "../../../exonum" }
exonum-cli = { version = "1.0.0", path = "../../../cli" }
exonum-derive = { version = "1.0.0", path = "../../../components/derive" }
exonum-merkledb = { version = "1.0.0", path = "../../../components/merkledb" }
exonum-proto = { version = "1.0.0", path = "../../../components/proto" }
exonum-rust-runtime = { version = "1.0.0", path = "../../../runtimes/rust" }
exonum-supervisor = { version = "1.0.0", path = "../../../services/supervisor" }
exonum-time = { version = "1.0.0", path = "../../../services/time" }

anyhow = "1.0"
chrono = { version = "0.4.6", features = ["serde"] }
log = "0.4.6"
protobuf = "2.17.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

[dependencies.tokio]
version = "0.3.5"
features = ["blocking", "dns", "io-util", "macros", "rt-threaded", "tcp", "time"]

[dev-dependencies]
exonum-explorer-service = { version = "1.0.0", path = "../../../services/explorer" }
exonum-testkit = { version = "1.0.0", path = "../../../test-suite/testkit" }

pretty_assertions = "0.6.1"

[build-dependencies]
exonum-build = { version = "1.0.1", path = "../../../components/build" }

[features]
default = ["with-serde"]
with-serde = []
