{{> header}}

<div class="dark">
    <div class="big_padding pix_builder_bg">

        <div class="container">
            <div class="sixteen columns">
                <div class="eight columns centered alpha margin_bottom_30 center_text">
                    {{#if error}}
                        <p class="big_title editContent"><strong>Error {{error.status}}</strong></p>
                    {{else}}
                        <p class="big_title editContent"><strong>Unknown error</strong></p>
                    {{/if}}

                    {{#if message}}
                        <p class="normal_text light_gray editContent">{{message}}</p>
                    {{/if}}

                    <a href="/" class="active_bg_open pix_button btn_normal btn_big pix_button_flat bold_text blue_bg ">
                        <i class="pi pixicon-back"></i>
                        <span>BACK TO HOME</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

{{> footer}}
