{{> header}}

<div class="dark">
    <div class="big_padding pix_builder_bg">
        <div class="container">
            <div class="sixteen columns">
                <div class="twelve columns centered alpha margin_bottom_30">

                    <div class="center_text">
                        <div class="title_70 light_blue margin_bottom">
                            <span class="pi pixicon-quote"></span>
                        </div>
                        <p class="big_title editContent"><strong>FAQ</strong></p>
                    </div>

                    <p class="normal_text light_gray editContent">Exonum Timestamping is a web service that provides reliable timestamps for digital documents. You can use it to provide a universally, independently verifiable <em>proof of existence</em> of your document at any specified moment in time.</p>

                    <p class="normal_text light_gray editContent">It is important to note that the primary purpose of the Exonum Timestamping service is showcasing the capabilities of the Exonum blockchain platform. It is <strong>not</strong> intended to act as a <a href="https://en.wikipedia.org/wiki/Trusted_timestamping" target="_blank">trusted timestamping</a> service – in fact, one of the main purposes of blockchain is to eliminate the need of trusting the service.</p>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading-1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1" class="big_text blue_text editContent">
                                        <span>How does Exonum Timestamping work?</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-1">
                                <div class="panel-body normal_text editContent">
                                    Exonum Timestamping uses a custom-built blockchain built on top of the <a href="http://exonum.com/" target="_blank">eponymous blockchain framework</a>.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading-2">
                                <h4 class="panel-title">
                                    <a class="collapsed big_text blue_text editContent" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-2" aria-expanded="false" aria-controls="collapse-3">
                                        <span>Is my document stored on the blockchain?</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                                <div class="panel-body normal_text editContent">
                                    No, only <a href="http://en.wikipedia.org/wiki/Cryptographic_hash_function" target="_blank">a cryptographic hash</a> of the document is stored on the blockchain. You should keep the timestamped document on your computer. This hash provides a unique identifier of the document, but does not allow the contents of the document to be restored; that’s why the service does not infringe upon your privacy. You may check that the document is timestamped by using that same hash and ensuring it was published to the Bitcoin Blockchain. If the document has already been timestamped, the service will tell you, and provide the corresponding certificate.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading-3">
                                <h4 class="panel-title">
                                    <a class="collapsed big_text blue_text editContent" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                        <span>What is a document certificate?</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                                <div class="panel-body normal_text editContent">
                                    A document certificate is a piece of data, which attests to the fact that a document with a given cryptographic hash had existed by the certain moment of time. This attestation is provided using cryptographic functions. The certificate should be supplied with the document itself.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading-4">
                                <h4 class="panel-title">
                                    <a class="collapsed big_text blue_text editContent" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-4" aria-expanded="false" aria-controls="collapse-3">
                                        <span>How do I verify a document certificate?</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
                                <div class="panel-body normal_text editContent">
                                    You can verify the certificate <a href="/verify">online on our website</a>.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading-5">
                                <h4 class="panel-title">
                                    <a class="collapsed big_text blue_text editContent" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                        <span>Why can different certificates be returned for the same document?</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-5">
                                <div class="panel-body normal_text editContent">
                                    The Exonum blockchain periodically creates blocks. Each of these blocks attests to all currently timestamped documents. Blocks on the Exonum blockchain are periodically recorded (anchored) on the Bitcoin Blockchain in order to provide full accountability and better security of the service. The certificate returned for the document uses the most recent block anchored on the Bitcoin Blockchain (the validity of such a certificate may be verified using nothing but hash functions); hence, a certificate for any document naturally updates with time. For the most recent documents, there may be no anchoring block including the document yet, so a weaker kind of certificate is used for them. This weaker certificate partially relies on some trust. Namely, it is assumed that less than 1/3 of the nodes maintaining the Exonum blockchain are corrupted. The anchoring on the Bitcoin Blockchain is performed precisely to eliminate this kind of trust.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading-6">
                                <h4 class="panel-title">
                                    <a class="collapsed big_text blue_text editContent" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                                        <span>Why is Exonum Timestamping reliable? Isn’t using the Bitcoin Blockchain better?</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-6">
                                <div class="panel-body normal_text editContent">
                                    The Bitcoin Blockchain provides excellent timestamping capabilities, and Exonum Timestamping actually uses it with the help of anchoring. Thus, Exonum Timestamping is at least as reliable as storing the document hash directly on the Bitcoin Blockchain, but it has a couple of additional nice properties such as greater scalability, enforceability of additional constraints (for example, uniqueness of timestamped documents) and total ordering among documents.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
