{{> header}}

<div class="dark">
    <div class="big_padding pix_builder_bg">

        <div class="certificate">
            <div class="certificate-inner">

                <div class="certificate_info">
                    <div class="certificate_hash">{{hash}}</div>
                    {{#if description}}
                        <div class="certificate_description">{{description}}</div>
                    {{/if}}
                    <div class="certificate_date">{{formatDate time 'YYYY-MM-DD HH:mm:ss'}} +0000</div>
                    <img class="certificate_qr" src="https://chart.googleapis.com/chart?cht=qr&chs=320x320&chld=L|0&chl={{url}}" alt="">
                </div>

            </div>
        </div>

        <br>

        <div class="center_text">
            <a href="#" class="pix_button btn_normal pix_button_flat blue_bg bold_text btn_big">
                <span>Print certificate</span>
            </a>
        </div>

    </div>
</div>

{{> footer}}
