{{> header}}

<div class="dark">
    <div class="big_padding pix_builder_bg">

        <div class="certificate">
            <div class="certificate-inner">

                <div class="center_text">
                    <p class="big_title editContent certificate_title">Certificate of proof</p>
                    <p class="normal_text light_gray editContent">This certifies that file exists on the Exonum blockchain.</p>
                </div>

                <div class="certificate_info">
                    <p class="certificate_label">File hash:</p>
                    <p class="certificate_value certificate_value_hash">{{hash}}</p>

                    {{#if description}}
                        <p class="certificate_label">Description:</p>
                        <p class="certificate_value">{{description}}</p>
                    {{/if}}

                    <p class="certificate_label">Created at:</p>
                    <p class="certificate_value">{{formatDate time 'YYYY-MM-DD HH:mm:ss'}} +0000 UTC</p>

                    <p class="certificate_label">Check a proof online:</p>
                    <img class="certificate_qr" src="https://chart.googleapis.com/chart?cht=qr&chs=320x320&chld=L|0&chl={{url}}" alt="">
                </div>

            </div>
        </div>

        <br>

        <div class="center_text">
            <a href="#" class="pix_button btn_normal pix_button_flat blue_bg bold_text btn_big">
                <span>Print certificate</span>
            </a>
        </div>

    </div>
</div>

{{> footer}}
