{{> header}}

<div class="dark">
    <div class="big_padding pix_builder_bg">
        <div class="container">
            <div class="sixteen columns">
                <div class="eight columns centered alpha margin_bottom_30 center_text">
                    <div class="title_70 light_blue margin_bottom">
                        <span class="pi pixicon-cloud2"></span>
                    </div>
                    <p class="big_title editContent"><strong>File already exist</strong></p>
                    <p class="normal_text light_gray editContent">Try to upload another file or verify file proof.</p>
                    <a href="/#create-a-stamp" class="active_bg_open pix_button btn_normal btn_big pix_button_flat bold_text blue_bg btn_margin">
                        <span>CREATE A STAMP</span>
                    </a>
                    <a href="/verify" class="pix_button pix_button_line white_border_button bold_text btn_big">
                        <span>VERIFY A STAMP</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
