{{> header}}

<div class="dark">
    <div class="big_padding pix_builder_bg">
        <div class="container">
            <div class="sixteen columns">
                <div class="eight columns centered alpha margin_bottom_30 center_text">
                    <div class="title_70 light_blue margin_bottom">
                        <span class="pi pixicon-cloud2"></span>
                    </div>
                    <p class="big_title editContent"><strong>File not found</strong></p>
                    <p class="normal_text light_gray editContent">Please check the hash.</p>
                    <a href="/verify" class="active_bg_open pix_button btn_normal btn_big pix_button_flat bold_text blue_bg ">
                        <i class="pi pixicon-back"></i>
                        <span>BACK TO SEARCH</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
