{{> header}}

<div class="header_nav_1 dark blue_moving_bg pix_builder_bg">
    <div class="container">
        <div class="sixteen columns">
            <div class="ten offset-by-three columns">
                <div class="center_text big_padding">
                    <p class="big_title bold_text editContent">Trusted timestamping</p>
                    <p class="big_text normal_gray editContent">
                        Creating secure and anonymous proof of file existence become as&nbsp;simple as&nbsp;<span class="nowrap">one-two-three</span> with <span class="inline-logo">Exonum</span>.
                    </p>
                    <a href="#create-a-stamp" class="pix_button btn_normal pix_button_flat blue_bg bold_text btn_big btn_margin pseudo-link hidden-xs">
                        <span>CREATE A STAMP</span>
                    </a>
                    <a href="#create" class="pix_button btn_normal pix_button_flat blue_bg bold_text btn_big btn_margin pseudo-link visible-xs">
                        <span>CREATE A STAMP</span>
                    </a>
                    <a href="/faq" class="pix_button pix_button_line white_border_button bold_text btn_big">
                        <span>LEARN MORE</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dark" id="create-a-stamp">
    <div class="big_padding pix_builder_bg">

        <div class="container">
            <div class="four offset-by-four columns">
                <div class="f1_box">
                    <div class="medium_icon light_blue">
                        <span class="pi pixicon-upload2"></span>
                    </div>
                    <div class="center_text">
                        <div class="editContent light_gray"><span class="pix_text">STEP 1</span></div>
                        <div class="small_title bold_text"><span class="editContent"><span class="pix_text">Upload your file</span></span></div><br>
                    </div>
                </div>
            </div>
            {{!--<div class="one-third column">
                <div class="f1_box">
                    <div class="medium_icon light_blue">
                        <span class="pi pixicon-wallet"></span>
                    </div>
                    <div class="center_text">
                        <div class="editContent light_gray"><span class="pix_text">STEP 2</span></div>
                        <div class="small_title bold_text"><span class="editContent"><span class="pix_text">Pay a $1.00 fee</span></span></div><br>
                    </div>
                </div>
            </div>--}}
            <div class="four columns omega">
                <div class="f1_box">
                    <div class="medium_icon light_blue">
                        <span class="pi pixicon-check"></span>
                    </div>
                    <div class="center_text">
                        <div class="editContent light_gray"><span class="pix_text">STEP 2</span></div>
                        <div class="small_title bold_text"><span class="editContent"><span class="pix_text">Get certificate of&nbsp;proof</span></span></div><br>
                    </div>
                </div>
            </div>
        </div>

        <div id="create" class="container">
            <div class="sixteen columns">
                <div class="eight columns centered">
                    <div class="center_text">
                        <span class="bold_text big_text blue_text spaced_title editContent">CREATE A STAMP</span>
                    </div>
                    <form id="create-form" class="pix_form">
                        <label for="content">Upload file:</label>
                        <input type="file" name="content" id="content" class="pix_text pix_text_dark filestyle" data-icon="false" data-placeholder="Select file">
                        <label for="description">Description <small>(optional)</small>:</label>
                        <input type="text" name="description" id="description" placeholder="Describe your file" class="pix_text pix_text_dark" maxlength="50">
                        <div class="send_btn">
                            <button type="submit" class="submit_btn pix_text">
                                CREATE
                            </button>
                        </div>
                    </form>
                    <form id="upload-form" class="hidden" method="POST" action="/f/upload">
                        <input id="label" type="hidden" name="label">
                        <input id="upload-description" type="hidden" name="description">
                    </form>
                </div>
            </div>
        </div>

        {{!--<div id="pay" class="container hidden">
            <div class="sixteen columns">
                <div class="eight columns centered">
                    <div class="center_text">
                        <span class="bold_text big_text blue_text spaced_title editContent">PAY A FEE</span>
                    </div>

                    <form class="pix_form" method="POST" action="/f/pay">
                        <input type="hidden" name="receiver" value="410011909703336">
                        <input type="hidden" name="formcomment" value="Exonum Trusted Timestamping">
                        <input type="hidden" name="short-dest" value="Exonum Trusted Timestamping">
                        <input type="hidden" name="targets" value="Create a stamp">
                        <input type="hidden" name="quickpay-form" value="donate">
                        <input type="hidden" name="sum" value="65.00" data-type="number">
                        <input id="label" type="hidden" name="label">
                        <input id="success-url" type="hidden" name="successURL">
                        <input id="pay-description" type="hidden" name="description">

                        <label>Select method:</label>
                        <div class="radio-button">
                            <label class="radio-button__radio radio-button__radio_side_left">
                                <input class="radio-button__control" value="PC" checked="checked" type="radio" name="paymentType">
                                <span class="radio-button__text">
                                    <i class="widget-shop__icon widget-shop__icon_name_PC"></i>
                                </span>
                            </label>
                            <label class="radio-button__radio radio-button__radio_side_right">
                                <input class="radio-button__control" value="AC" type="radio" name="paymentType">
                                <span class="radio-button__text">
                                    <i class="widget-shop__icon widget-shop__icon_name_AC"></i>
                                </span>
                            </label>
                        </div>
                        <div class="send_btn">
                            <button type="submit" class="submit_btn pix_text">
                                PAY
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>--}}

    </div>
</div>

{{> footer}}
