<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon/favicon-152x152.png">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500italic,700,400" rel="stylesheet">

    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/landings_layouts.css">
    <link rel="stylesheet" href="/css/pixicon.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

{{{body}}}

</body>
</html>
