{{> header}}

<div class="dark">
    <div class="big_padding pix_builder_bg">

        <div class="center_text">
            <div class="title_70 light_blue margin_bottom">
                <span class="pi pixicon-check"></span>
            </div>
            <p class="big_title editContent"><strong>Done</strong></p>
            <p class="normal_text light_gray editContent">Stamp has been successfully created.</p>
        </div>

        {{> certificate}}

        <br>

        <div class="center_text">
            <a href="#" class="pix_button btn_normal pix_button_flat blue_bg bold_text btn_big">
                <span>Download as PDF</span>
            </a>
        </div>

    </div>
</div>

{{> footer}}
