{{> header}}

<div class="dark" id="create-a-stamp">
    <div class="big_padding pix_builder_bg">
        <div class="container">
            <div class="sixteen columns">
                <div class="eight columns centered">

                    <div class="center_text">
                        <span class="bold_text big_text blue_text editContent">VERIFY A STAMP</span>
                    </div>

                    <form id="verify" class="pix_form">
                        <label for="hash">File hash:</label>
                        <input type="text" name="hash" id="hash" class="pix_text pix_text_dark" placeholder="Enter hash of file">
                        <div class="send_btn">
                            <button type="submit" class="submit_btn pix_text">
                                VERIFY
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
