<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Privacy Policy - Exonum - A framework for blockchain solutions</title>

    {{!-- Head  --}}
    {{> head}}
</head>

<body>

{{!-- Header  --}}
{{> header url_path="/"}}

{{!-- Title  --}}
<section class="home bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">

                <div class="home-wrapper">
                    <h1 class="animated">Privacy Policy</h1>
                </div>

            </div>
        </div>
    </div>
</section>


{{!-- Article  --}}
<section class="section blog-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <p class="sub-title">Our Privacy Policy sets out how your personal information is collected and used while you use the Site. We believe your personal information belongs to you, so we are very open about how we use it. If you have a question about the Privacy Policy, email <a href="mailto:exonum@bitfury.com">exonum@bitfury.com</a> and we will try to answer it for you.</p>
                <p class="sub-title">The Site collects and uses information in accordance with the Data Protection Act (DPA), or with your specific and express consent. We do not knowingly collect personal information from children under 18 without consent from a parent or guardian. If we learn a child has provided personal information, we may delete it.</p>
                <p class="sub-title">During your visit, the Site logs some of the information (such as your IP address, browser version, etc).</p>
                <p class="sub-title">We will not share or sell the identifiable personal information we collect or generate. We may share non-personal or aggregate information, such as usage statistics for the Site.</p>
                <p class="sub-title">You may ask us correct or update your personal information if you cannot update it yourself. You may ask us to delete your personal information unless we are under a legal obligation to store it. If you revoke consent to store your personal information, it will be deleted. If you want to correct or update your personal information, or revoke your consent, you can email us at <a href="mailto:exonum@bitfury.com">exonum@bitfury.com</a>.</p>
                <p class="sub-title">If Exonum is involved in a merger, acquisition, or sale of all or a portion of our assets, your personal information may be transferred as part of that transaction.</p>
                <p class="sub-title">We may disclose personal information to law enforcement if we believe disclosure is necessary to:</p>

                <ul class="sub-title">
                    <li>Comply with a law, regulation, or mandatory request such as a warrant or court order.</li>
                    <li>Protect the any person from death or serious bodily injury.</li>
                    <li>Protect the Site or BitFury company from unlawful abuse or attacks.</li>
                </ul>

            </div>
        </div>
    </div>
</section>

{{!-- Footer  --}}
{{> footer url_path="/"}}

</body>
</html>
